@import '_general';

//==================================================
// pricelist
//==================================================

.pricelist{

	&__price{
		background: #F7F3E5;
		margin-top: 35px;
		padding-top: 70px;
		padding-bottom: 45px;
		@include sp{
			margin-top: s(50);
			padding-top: s(50);
			padding-bottom: s(25);
		}
		h2{
			margin-bottom: 40px;
			@include sp{
				margin-bottom: s(35);
			}
		}
		&_fukidashi{
			font-weight: 700;
			@extend .font-maru;
			text-align: center;
			font-size: 24px;
			margin-bottom: 20px;
			span{
				display: inline-block;
				margin-bottom: 15px;
				font-size: 32px;
				position: relative;
				&::after, &::before{
					content: "";
					display: block;
					background: url("../img/ico_slash_left.svg")no-repeat 0 0 /contain;
					width: 24px;
					height: 24px;
					position: absolute;
					bottom: 0;
				}
				&::before{
					left: -40px;
				}
				&::after{
					right: -30px;
					transform: rotateY(180deg);
				}
			}
			strong{
				background: $point_color;
			}
			@include sp{
				font-size: s(18);
				margin-bottom: s(25);
				line-height: 1.4;
				span{
					margin-bottom: 0;
					font-size: s(24);
					&::after, &::before{
						width: s(24);
						height: s(24);
						bottom: s(5);
					}
					&::before{
						left: s(-20);
					}
					&::after{
						right: s(-20);
					}
				}
			}
			& + p{
				width: $cont_w_pc;
				margin: 0 auto;
				line-height: 1.7;
				@include sp{
					width: $cont_w_sp;
				}
			}
		}
		&_caution{
			width: $cont_w_pc;
			margin: 15px auto 0;
			background: #FCDFD8;
			border: 1px #EB6D4E dashed;
			text-align: center;
			padding: 15px 0;
			border-radius: 10px;
			font-size: 20px;
			@extend .font-maru;
			font-weight: 600;
			@include sp{
				width: $cont_w_sp;
				margin: s(15) auto 0;
				padding: s(15) 0;
				border-radius: s(10);
				font-size: s(18);
			}
		}
		&_subtitle{
			text-align: center;
			font-size: 32px;
			@extend .font-maru;
			width: $cont_w_pc;
			margin: 55px auto 15px;
			position: relative;
			padding-bottom: 25px;
			&::after{
				content: "";
				display: block;
				width: 100%;
				height: 1px;
				background-image: linear-gradient(to right, #03A58E, #03A58E 4px, transparent 4px, transparent 9px);
				background-size: 9px 1px;
				background-repeat: repeat-x;
				position: absolute;
				bottom: 0;
			}
			@include sp{
				font-size: s(24);
				width: $cont_w_sp;
				margin: s(35) auto s(10);
				padding-bottom: s(15);
			}
		}
		&_pack{
			width: $cont_w_pc;
			margin: 0 auto;
			border-radius: 10px;
			box-sizing: border-box;
			border: solid 3px $main_color;
			background: $main_color;
			@include sp{
				width: $cont_w_sp;
				border-radius: s(10);
				border-width: s(3);
			}
			h4{
				display: flex;
				align-items: center;
				color: #fff;
				font-weight: 700;
				padding-left: 30px;
				height: 80px;
				width: 100%;
				.main{
					font-size: 26px;
					padding-right: 20px;
					position: relative;
					&::after{
						content: "";
						display: block;
						position: absolute;
						width: 1px;
						height: 20px;
						background: rgba(0,0,0,.2);
						right: 0;
						top: 50%;
						transform: translateY(-50%);
					}
				}
				.sub{
					font-size: 18px;
					padding-left: 20px;
				}
				@include sp{
					padding: s(25) s(15) s(15);
					height: auto;
					display: block;
					.main{
						font-size: s(26);
						padding-right: 0;
						display: block;
						margin-bottom: s(5);
						&::after{
							display: none;
						}
					}
					.sub{
						font-size: s(18);
						padding-left: 0;
						line-height: 1.4;
						display: block;
					}
				}
			}
			.detail{
				display: flex;
				justify-content: space-between;
				position: relative;
				padding: 20px 17px 10px 60px;
				background: #fff;
				&::after{
					content: "";
					display: block;
					width: 96%;
					height: 1px;
					background-image: linear-gradient(to right, #DCDCDC, #DCDCDC 4px, transparent 4px, transparent 9px);
					background-size: 9px 1px;
					background-repeat: repeat-x;
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
				}
				.sum{
					display: flex;
					li{
						background: #F4F4F4;
						display: flex;
						align-items: center;
						justify-content: center;
						text-align: center;
						position: relative;
						line-height: 1.4;
						width: 150px;
						height: 90px;
						font-size: 18px;
						border-radius: 4px;
						font-weight: 700;
						& + li{
							margin-left: 50px;
							&::before{
								content: "";
								display: block;
								background: url("../img/plus.svg")no-repeat 0 0 / contain;
								width: 17px;
								height: 17px;
								position: absolute;
								left: -32px;
								top: 50%;
								transform: translateY(-50%);
							}
						}
					}
				}
				.amount{
					font-weight: 700;
					@extend .font-maru;
					.inr{
						display: flex;
						align-items: center;
						.text{
							font-size: 24px;
							line-height: 1.2;
							padding-right: 10px;
						}
						.num{
							font-size: 32px;
							line-height: 0.8;
							strong{
								@extend .font-osw;
								font-size: 62px;
								font-weight: 700;
							}
						}
					}
					.size{
						font-size: 20px;
						text-align: right;
						margin-top: 10px;
					}
				}
				figure{
					margin-top: -35px;
				}
				@include sp{
					flex-wrap: wrap;
					justify-content: center;
					padding: s(15) s(15) s(10);
					.sum{
						width: 100%;
						li{
							width: s(100);
							height: auto;
							font-size: s(16);
							border-radius: s(4);
							padding: s(12) s(5);
							box-sizing: border-box;
							& + li{
								margin-left: s(6);
								&::before{
									width: s(15);
									height: s(15);
									left: s(-10);
								}
							}
						}
					}
					.amount{
						margin-top: s(25);
						margin-right: s(10);
						.inr{
							align-items: flex-start;
							.text{
								font-size: s(20);
								padding-right: s(10);
							}
							.num{
								font-size: s(26);
								strong{
									font-size: s(52);
								}
							}
						}
						.size{
							font-size: s(18);
							margin-top: s(5);
						}
					}
					figure{
						margin-top: s(10);
						img{
							width: s(158);
						}
					}
				}
			}
			.total{
				display: flex;
				justify-content: center;
				padding: 20px 0 20px;
				background: #fff;
				border-radius: 0 0 8px 8px;
				.price{
					display: inline-flex;
					align-items: center;
					position: relative;
					font-weight: 700;
					margin-bottom: 15px;
					@extend .font-maru;
					.unit{
						font-size: 49px;
						margin-right: 12px;
						position: relative;
					}
					.num{
						font-size: 39px;
						position: relative;
						strong{
							@extend .font-osw;
							font-size: 76px;
							margin-right: 5px;
						}
						.tax{
							font-size: 19px;
							position: absolute;
							right: 24px;
							top: 15px;
						}
					}
					&::before{
						content: "";
						display: block;
						width: calc(100% + 4px);
						height: 27px;
						position: absolute;
						left: -2px;
						bottom: -8px;
						background: $point_color;
						border-radius: 2px;
						@include sp{
							width: calc(100% + s(4));
							height: s(18);
							left: s(-2);
							bottom: s(-8);
							border-radius: s(2);
						}
					}
				}
				.tpoint{
					margin-left: 120px;
					display: flex;
					align-items: center;
					img{
						width: 45px;
						margin-right: 10px;
					}
					& > p{
						font-size: 18px;
						font-weight: 700;
						.num{
							font-size: 20px;
							@extend .font-osw;
							strong{
								font-size: 32px;
							}
						}
					}
				}
				@include sp{
					display: flex;
					justify-content: flex-start;
					flex-direction: column;
					align-items: center;
					padding: s(25) 0 s(15);
					.price{
						margin-bottom: s(10);
						.unit{
							font-size: s(32);
							margin-right: s(8);
						}
						.num{
							font-size: s(26);
							strong{
								font-size: s(52);
								margin-right: 0;
							}
							.tax{
								font-size: s(14);
								right: s(14);
								top: s(10);
							}
						}
					}
					.tpoint{
						margin-left: 0;
						margin-top: s(15);
						justify-content: center;
						img{
							width: s(45);
							margin-right: s(12);
						}
						& > p{
							font-size: s(18);
							.num{
								font-size: s(20);
								strong{
									font-size: s(32);
								}
							}
						}
					}
				}
			}
			
			&.green{
				border-color: #00C4A8;
				background: #00C4A8;
			}
			&.blue{
				border-color: #00C5E6;
				background: #00C5E6;
			}
			&.orange{
				border-color: #FC6C22;
				background: #FC6C22;
			}
			
			& + &{
				margin-top: 20px;
				@include sp{
					margin-top: s(17);
				}
			}
		}
		&_notes{
			width: $cont_w_pc;
			margin: 20px auto;
			li{
				padding-left: 1.1em;
				position: relative;
				line-height: 2;
				&::before{
					content: "";
					width: .6em;
					height: .6em;
					left: 0;
					top: .7em;
					position: absolute;
					border-radius: 50% 50%;
					background: $main_color;
				}
			}
			@include sp{
				width: $cont_w_sp;
				margin: s(15) auto;
			}
		}		

	}

	// -------------------------------------------------
	// price__about
	// -------------------------------------------------
	&__about{
		.l_section_title{
			margin-top: 30px;
			margin-bottom: 55px;
			@include sp{
				margin-top: s(15);
				margin-bottom: s(25);
			}
		}
		&_list{
			display: flex;
			justify-content: space-between;
			width: $cont_w_pc;
			margin: 0 auto;
			@include sp{
				display: block;
				width: $cont_w_sp;
			}
			li{
				width: 353px;
				@include sp{
					width: 100%;
					display: flex;
					& + li{
						margin-top: s(5);
					}
				}
				h3{
					background: $main_color;
					height: 82px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 10px 10px 0 0;
					font-size: 18px;
					color: #fff;
					font-weight: 700;
					position: relative;
					.color_yellow{
						color: #FFD800;
						font-size: 26px;
						margin-left: .1em;
					}
					.num{
						background: $main_color;
						border-radius: 50% 50%;
						@extend .font-osw;
						width: 52px;
						height: 52px;
						padding: 14px 0;
						font-size: 20px;
						text-align: center;
						position: absolute;
						left: 50%;
						top: 0;
						transform: translateX(-50%) translateY(-50%);
					}
					@include sp{
						height: s(112);
						width: s(203);
						border-radius: s(10) 0 0 s(10);
						font-size: s(18);
						padding-left: s(20);
						justify-content: flex-start;
						line-height: 1.2;
						.color_yellow{
							font-size: s(22);
						}
						span:not(.num){
							z-index: 2;
							position: relative;
						}
						.num{
							width: s(46);
							height: s(46);
							padding: s(12) 0;
							font-size: s(20);
							left: auto;
							right: 0;
							top: 50%;
							transform: translateX(50%) translateY(-50%);
							z-index: 1;
						}
					}
				}
				figure{
					border-radius: 0 0 10px 10px;
					border: solid 3px $main_color;
					text-align: center;
					@include sp{
						border-radius: 0 s(10) s(10) 0;
						border: solid s(3) $main_color;
						display: flex;
						align-items: center;
						justify-content: center;
						width: s(140);
						height: s(112);
						img{
							width: s(120);
							height: auto;
						}
					}
				}
			}
			& + p{
				width: $cont_w_pc;
				margin: 0 auto;
				line-height: 1.8;
				margin-top: 10px;
				@include sp{
					width: $cont_w_sp;
					margin-top: s(10);
				}
			}
		}
		&_method{
			background: #FDFBF2;
			border-radius: 20px;
			width: $cont_w_pc;
			margin: 40px auto 0;
			padding: 25px 30px 30px;
			@include sp{
				border-radius: s(20);
				width: $cont_w_sp;
				margin: s(30) auto 0;
				padding: s(20) s(15) s(15);
			}
			h3{
				font-size: 32px;
				font-weight: 700;
				@extend .font-maru;
				text-align: center;
				margin-bottom: 20px;
				& + p{
					width: 100%;
					line-height: 1.8;
					margin-bottom: 35px;
				}
				@include sp{
					font-size: s(24);
					margin-bottom: s(25);
					& + p{
						display: none;
					}
				}
			}
			dl{
				dt{
					font-size: 26px;
					color: $main_color;
					font-weight: 700;
					padding-left: 20px;
					position: relative;
					&::before{
						content: "";
						background: $main_color;
						width: 5px;
						height: 32px;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
					}
					@include sp{
						font-size: s(22);
						padding-left: s(20);
						&::before{
							width: s(5);
							height: s(32);
						}
					}
				}
				dd{
					margin-top: 15px;
					margin-left: 0;
					p{
						line-height: 1.8;
					}
					figure{
						margin-top: 15px;
						margin-bottom: 5px;
						background: #fff;
						padding: 10px;
					}
					@include sp{
						margin-top: s(15);
						figure{
							margin-top: s(10);
							margin-bottom: s(5);
							padding: s(10);
							img{
								width: 100%;
								height: auto;
							}
						}
					}
				}
				& + dl{
					margin-top: 40px;
					@include sp{
						margin-top: s(35);
					}
				}
			}
		}
		
		& + .l_banner{
			margin-top: 50px;
			margin-bottom: 50px;
			@include sp{
				margin-top: s(30);
				margin-bottom: s(50);
			}
		}
	}

	// -------------------------------------------------
	// price__search(pc)
	// -------------------------------------------------
	&__search-pc{
		padding: 70px 0;
		background: #F7F3E5;
		@include sp{
			display: none;
		}
		&_head{
			width: $cont_w_pc;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;
			position: relative;
			z-index: 10;
			@include sp{
				width: $cont_w_sp;
			}
			div{
				width: 163px;
			}
			h2{
				width: 280px;
				margin-top: -10px;
				margin-right: 95px;
				text-align: left;
				position: relative;
				.en{
					text-align: left;
				}
				&::after{
					content: "";
					background: url("../img/price/search_baloon.svg")no-repeat 0 0 / contain;
					height: 71px;
					width: 73px;
					display: block;
					position: absolute;
					right: -35px;
					top: -30px;
				}
			}
			a{
				display: block;
				padding: 15px 0;
				margin-top: 20px;
				width: 100%;
				text-decoration: none;
				position: relative;
				transition: padding .2s;
				box-sizing: border-box;
				.icon-arrow{
					right: 0;
					width: 17px;
					height: 17px;
					background: $main_color;
					svg{
						fill: #fff;
						stroke: #fff;
						width: 4px;
						height: 7px;
					}
				}
				&::after{
					content: "";
					background: $main_color;
					display: block;
					width: 100%;
					height: 1px;
					bottom: 0;
					left: 0;
					position: absolute;
				}
				&:hover{
					padding: 15px 0 15px 15px;
					&::after{
						height: 3px;
					}
				}
			}
			p{
				line-height: 1.875;
				width: 724px;
			}
		}
		&_map{
			width: $cont_w_pc;
			margin: 15px auto 0;
			position: relative;
			padding-left: 240px;
			box-sizing: border-box;
			@include sp{
				width: $cont_w_sp;
			}
			&_links{
				li{
					position: absolute;
					.modal_open{
						background: #fff;
						border-radius: 5px;
						border: solid $main_color 2px;
						min-width: 220px;
						height: 50px;
						display: flex;
						align-items: center;
						padding: 0 45px 0 15px;
						box-sizing: border-box;
						position: relative;
						font-size: 16px;
						font-weight: 500;
						color: $main_color;
						box-shadow: 0 0 5px rgba(0,0,0,.16);
						transition: all .2s;
						&::after{
							content: "";
							display: block;
							background: url("../img/ico_plus_color.svg")no-repeat 0 0 / contain;
							width: 18px;
							height: 18px;
							position: absolute;
							right: 14px;
							top: 50%;
							transform: translateY(-50%);
						}
						&:hover{
							background: #FDFBF2;
						}					
					}
					.line01,.line02,.line03{
						display: block;
						width: 100px;
						height: 1px;
						background-image: linear-gradient(to right, #707070, #707070 4px, transparent 4px, transparent 9px);
						background-size: 9px 1px;
						background-repeat: repeat-x;
						position: absolute;
					}	
					&.hokkaidou{
						top: 170px;
						right: 0;
						.line01{
							width: 105px;
							right: 100%;
							top: 50%;
						}
						.line02{
							width: 80px;
							left: -145px;
							bottom: 59px;
							transform: rotate(90deg);
							&::after{
								content: "";
								display: block;
								background: url("../img/shops_map_point.svg")no-repeat 0 0 / contain;
								width: 20px;
								height: 20px;
								position: absolute;
								top: -10px;
								left: -10px;
							}
						}
					}
					&.kantou{
						top: 363px;
						right: 82px;
						.line01{
							width: 104px;
							right: 100%;
							top: 50%;
							&::after{
								content: "";
								display: block;
								background: url("../img/shops_map_point.svg")no-repeat 0 0 / contain;
								width: 20px;
								height: 20px;
								position: absolute;
								top: -10px;
								left: -10px;
							}
						}
					}
					&.tyubu{
						top: 529px;
						right: 82px;
						.line01{
							width: 40px;
							right: 100%;
							top: 50%;
						}
						.line02{
							width: 120px;
							left: -99px;
							bottom: 84px;
							transform: rotate(90deg);
						}
						.line03{
							width: 180px;
							left: -214px;
							bottom: 144px;
							&::after{
								content: "";
								display: block;
								background: url("../img/shops_map_point.svg")no-repeat 0 0 / contain;
								width: 20px;
								height: 20px;
								position: absolute;
								top: -10px;
								left: -10px;
							}
						}
					}
					&.kinki{
						top: 147px;
						right: 452px;
						.line01{
							width: 282px;
							right: -28px;
							top: 149px;
							transform: rotate(90deg);
							&::after{
								content: "";
								display: block;
								background: url("../img/shops_map_point.svg")no-repeat 0 0 / contain;
								width: 20px;
								height: 20px;
								position: absolute;
								top: -10px;
								right: -10px;
							}
						}
					}
					&.tyugoku{
						top: 147px;
						left: 0;
						.line01{
							width: 120px;
							left: 100%;
							top: 50%;
						}
						.line02{
							width: 260px;
							right: -250px;
							top: 155px;
							transform: rotate(90deg);
						}
						.line03{
							width: 78px;
							right: -199px;
							bottom: -237px;
							&::after{
								content: "";
								display: block;
								background: url("../img/shops_map_point.svg")no-repeat 0 0 / contain;
								width: 20px;
								height: 20px;
								position: absolute;
								top: -10px;
								right: -10px;
							}
						}
					}
					&.shikoku{
						top: 509px;
						right: 370px;
						.line01{
							width: 62px;
							right: 100%;
							top: 50%;
						}
						.line02{
							width: 23px;
							left: -76px;
							bottom: 38px;
							transform: rotate(90deg);
							&::after{
								content: "";
								display: block;
								background: url("../img/shops_map_point.svg")no-repeat 0 0 / contain;
								width: 20px;
								height: 20px;
								position: absolute;
								top: -10px;
								left: -10px;
							}
						}
					}
					&.kyushu{
						top: 590px;
						right: 470px;
						.line01{
							width: 25px;
							right: 100%;
							top: 50%;
						}
						.line02{
							width: 74px;
							left: -66px;
							bottom: 60px;
							transform: rotate(90deg);
							&::after{
								content: "";
								display: block;
								background: url("../img/shops_map_point.svg")no-repeat 0 0 / contain;
								width: 20px;
								height: 20px;
								position: absolute;
								top: -10px;
								left: -10px;
							}
						}
					}
				}
			}
		}
		&_outline{
			position: absolute;
			left: 0;
			bottom: 85px;
			p{
				@extend .font-maru;
				font-size: 24px;
				font-weight: 700;
				line-height: 1.4;
				strong{
					background: $point_color;
				}
				.medium{
					font-size: 22px;
					font-weight: 700;
					display: block;
				}
				.small{
					font-size: 19px;
					font-weight: 700;
					display: block;
				}
			}
			h3{
				margin: 10px 0 15px;
			}
		}
	}

	// -------------------------------------------------
	// price__search(sp)
	// -------------------------------------------------
	&__search-sp{
		display: none;
		padding: s(50) 0 s(30);
		background: #F7F3E5;
		@include sp{
			display: block;
		}
		h2{
			position: relative;
			&::after{
				content: "";
				background: url("../img/price/search_baloon.svg")no-repeat 0 0 / contain;
				height: s(64);
				width: s(64);
				display: block;
				position: absolute;
				right: s(45);
				top: s(-35);
			}
		}
		&_outline{
			position: relative;
			width: $cont_w_sp;
			margin: s(25) auto 0;
			p{
				@extend .font-maru;
				font-size: s(15);
				font-weight: 700;
				line-height: 1.4;
				margin-bottom: s(5);
				strong{
					background: $point_color;
				}
				.medium{
					font-size: s(14);
					font-weight: 700;
					display: block;
				}
				.small{
					font-size: s(12);
					font-weight: 700;
					display: block;
				}
			}
			h3 img{
				width: s(134);
			}
			figure{
				position: absolute;
				&.obj{
					right: s(-5);
					bottom: 0;
					img{
						width: s(175);
					}
				}
				&.map{
					right: s(-15);
					bottom: 0;
					img{
						width: s(218);
					}
				}
			}
			& + p{
				line-height: 1.7;
				width: $cont_w_sp;
				margin: s(20) auto s(10);
			}
		}
		a{
			display: block;
			padding: s(15) 0;
			margin: s(20) s(20) 0 auto;
			width: s(200);
			text-decoration: none;
			position: relative;
			transition: padding .2s;
			box-sizing: border-box;
			.icon-arrow{
				right: 0;
				width: s(17);
				height: s(17);
				background: $main_color;
				svg{
					fill: #fff;
					stroke: #fff;
					width: s(4);
					height: s(7);
				}
			}
			&::after{
				content: "";
				background: $main_color;
				display: block;
				width: 100%;
				height: 1px;
				bottom: 0;
				left: 0;
				position: absolute;
			}
		}
		&_map_links{
			width: $cont_w_sp;
			margin: s(30) auto 0;
			li{
				&.modal_open{
					background: #fff;
					border-radius: s(5);
					width: 100%;
					height: s(60);
					display: flex;
					align-items: center;
					padding: 0 s(20);
					box-sizing: border-box;
					position: relative;
					font-weight: 500;
					color: $main_color;
					transition: all .2s;
					border: solid s(2) $main_color;
					&::after{
						content: "";
						display: block;
						background: url("../img/ico_plus_color.svg")no-repeat 0 0 / contain;
						width: s(18);
						height: s(18);
						position: absolute;
						right: s(20);
						top: 50%;
						transform: translateY(-50%);
					}				
				}
				& + li{
					margin-top: s(10);
				}
			}
		}
	}
	
	// -------------------------------------------------
	// price__list
	// -------------------------------------------------
	&__list{
		padding-top: 70px;
		.l_section_title{
			margin-bottom: 30px;
		}
		@include sp{
			padding-top: s(50);
			.l_section_title{
				margin-bottom: s(20);
			}
		}
		&_box{
			width: $cont_w_pc;
			margin: 0 auto;
			display: flex;
			padding: 10px;
			border-radius: 20px;
			box-shadow: 0 0 5px 1px rgba(0,0,0,.16);
			h3{
				margin: 30px 0 20px;
				width: 556px;
				height: 80px;
				font-size: 32px;
				font-weight: 700;
				a{
					background: $main_color;
					border-radius: 0 60px 60px 0;
					width: 100%;
					height: 100%;
					padding-left: 40px;
					color: #fff;
					display: flex;
					align-items: center;
					text-decoration: none;
					transition: background .3s;
					&:hover{
						background: $main_color_hover;
					}
					& > span{
						position: relative;
						.icon-arrow{
							right: -30px;
							width: 19px;
							height: 19px;
							svg{
								width: 5px;
								height: 8px;
								stroke: $main_color;
								fill: $main_color;
							}
						}
					}
				}
				& + p{
					margin-left: 40px;
					line-height: 1.8;
				}
			}
			& + &{
				margin-top: 20px;
			}
			@include sp{
				width: $cont_w_sp;
				display: block;
				padding: 0;
				border-radius: s(10);
				h3{
					margin: s(-33) 0 s(15);
					width: s(325);
					min-height: s(65);
					font-size: s(28);
					position: relative;
					z-index: 2;
					a{
						padding: s(5) s(20);
						& > span{
							line-height: 1.1;
							.icon-arrow{
								right: s(-30);
								width: s(19);
								height: s(19);
								svg{
									width: s(5);
									height: s(8);
								}
							}
						}
					}
					& + p{
						width: s(305);
						margin: 0 auto;
					}
				}
				figure{
					padding: s(7) s(7) 0;
					margin: 0 auto;
					position: relative;
					z-index: 1;
					img{
						width: 100%;
					}
				}
				& + &{
					margin-top: s(10);
				}
			}
		}
	}
	
	.l_serviceMenu{
		background: #F7F3E5;
		margin-top: 50px;
		@include sp{
			margin-top: s(30);
		}
	}
	
	.l_otherLinks{
		margin-bottom: 25px;
		@include sp{
			margin-bottom: s(10);
		}
	}
	
	.l_btn_home{
		margin-bottom: 50px;
		@include sp{
			margin-bottom: s(30);
		}
	}
}

//==================================================
// price_lower
//==================================================

.price_lower{
	// -------------------------------------------------
	// price_lower__about
	// -------------------------------------------------
	&__about{
		margin-top: 5px;
		margin-bottom: 55px;
		@include sp{
			margin-top: s(15);
			margin-bottom: s(30);
		}
		&_wrap{
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			width: 1024px;
			margin: 0 auto;
			@include sp{
				display: block;
				width: s(345);
			}
		}
		&_text-box{
			width: 557px;
			@include sp{
				width: 100%;
			}
		}
		&_title{
			margin-bottom: 15px;
			@extend .font-maru;
			font-size: 35px;
			line-height: 1.5;
			.marker{
				background: $point_color;
			}
			@include sp{
				margin-bottom: s(15);
				font-size: s(30);
				text-align: center;
			}
		}
		&_text{
			margin-bottom: 15px;
			font-size: 16px;
			line-height: 1.875;
			@include sp{
				margin-bottom: s(10);
				font-size: s(16);
			}
		}
		&_img{
			img{
				@include sp{
					width: 100%;
				}
			}
		}
	}
	
	// -------------------------------------------------
	// price_lower__trouble
	// -------------------------------------------------
	&__trouble{
		padding-top: 60px;
		background: #F7F3E5;
		@include sp{
			padding-top: s(50);
		}
		.l_section_title{
			margin-bottom: 27px;
			@include sp{
				margin-bottom: s(20);
			}
		}
		&_list{
			display: flex;
			justify-content: space-between;
			width: 1100px;
			margin: 0 auto;
			padding-bottom: 50px;
			.item{
				width: 23.6%;
			}
			@include sp{
				flex-wrap: wrap;
				width: s(345);
				padding-bottom: s(30);
				.item{
					width: 46%;
					&:nth-child(n+3){
						margin-top: s(20);
					}
				}
			}
		}
		&_img{
			position: relative;
			width: 140px;
			margin: 0 auto;
			img{
				width: 100%;
			}
			&::after{
				display: block;
				position: absolute;
				bottom: 0;
				left: 50%;
				width: 42px;
				height: 40px;
				background: url("../img/ico_check.svg")no-repeat 0 0 / contain;
				content: "";
				transform: translateX(-50%) translateY(50%);
			}
			@include sp{
				width: s(112);
				&::after{
					bottom: s(10);
					width: s(42);
					height: s(40);
				}
			}
		}
		&_point{
			margin-top: 25px;
			font-size: 22px;
			font-weight: 700;
			text-align: center;
			line-height: 1.45;
			@include sp{
				margin-top: s(15);
				font-size: s(17);
			}
		}
		&_text{
			margin-top: 15px;
			font-size: 16px;
			line-height: 1.8;
			@include sp{
				margin-top: s(5);
				font-size: s(15);
			}
		}
		&_catch{
			position: relative;
			background: $main_color;
			&::before{
				display: block;
				position: absolute;
				top: 0;
				left: 50%;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 36px 55px 0 55px;
				border-color: #F7F3E5 transparent transparent transparent;
				transform: translateX(-50%);
				content: "";
				@include sp{
					border-width: s(20) s(31) 0 s(31);
				}
			}
			&_inr{
				position: relative;
				width: 1100px;
				margin: 0 auto;
				padding: 75px 0 50px;
				text-align: center;
				@include sp{
					width: s(345);
					padding: s(54) 0 s(30);
					text-align: left;
				}
			}
			&_img-l, &_img-r{
				position: absolute;
				bottom: 0;
				width: 240px;
				img{
					width: 100%;
					vertical-align: bottom;
				}
				@include sp{
					width: s(152);
				}
			}
			&_img-l{
				left: 0;
				@include sp{
					left: auto;
					right: s(-15);
				}
			}
			&_img-r{
				right: 0;
				@include sp{
					display: none;
				}
			}
			&_text{
				display: inline-block;
				position: relative;
				@extend .font-maru;
				font-size: 40px;
				text-align: center;
				color: #fff;
				line-height: 1.5;
				@include sp{
					font-size: s(18);
					text-align: left;
				}
				.color_yellow{
					color: $point_color;
					@include sp{
						font-size: s(30);
					}
				}
				strong{
					font-size: 52px;
					@include sp{
						font-size: s(30);
					}
				}
				&::after{
					display: block;
					position: absolute;
					top: -55px;
					right: 0;
					width: 110px;
					height: 100px;
					background: url("../img/price/lower/shine.svg")no-repeat 0 0 / contain;
					content: "";
					@include sp{
						top: s(-35);
						right: s(-32);
						width: s(60);
						height: s(50);
					}
				}
			}
		}
	}
	
	// -------------------------------------------------
	// l_5reasons
	// -------------------------------------------------
	.l_5reasons{
		padding-bottom: 0;
		&__list{
			li:nth-child(2){
				figure{
					img{
						width: 78%;
						@include sp{
							width: 90%;
						}
					}
				}
			}
		}
	}
	
	// -------------------------------------------------
	// price_lower__menu
	// -------------------------------------------------
	&__menu{
		margin-top: 50px;
		padding: 72px 0 50px;
		background: #F7F3E5;
		.l_section_lead{
			margin-bottom: 20px;
		}
		@include sp{
			margin-top: s(50);
			padding: s(50) 0 s(30);
			.l_section_lead{
				margin-bottom: s(20);
			}
		}
		&_box{
			display: flex;
			width: 1100px;
			padding: 10px;
			margin: 0 auto;
			background: #fff;
			border-radius: 20px;
			box-shadow: 0 0 5px 1px rgba(0,0,0,.16);
			&:nth-child(even){
				.price_lower__menu_img{
					order: 2;
					margin-left: auto;
				}
				.price_lower__menu_text-box{
					order: 1;
					margin-left: -10px;
				}
			}
			& + &{
				margin-top: 20px;
			}
			@include sp{
				display: block;
				width: s(345);
				padding: s(7);
				border-radius: s(10);
				&:nth-child(even){
					.price_lower__menu_text-box{
						margin-left: auto;
					}
				}
				& + &{
					margin-top: s(20);
				}
			}
		}
		&_img{
			width: 484px;
			height: 100%;
			min-height: 452px;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				font-family: 'object-fit: cover;';
			}
			@include sp{
				width: s(330);
				height: s(200);
				min-height: inherit;
			}
		}
		&_text-box{
			padding: 10px 0;
			width: 556px;
			@include sp{
				position: relative;
				z-index: 2;
				padding: 0 0 s(20) 0;
				width: s(330);
				.text-right{
					text-align: center;
				}
			}
		}
		&_title{
			display: flex;
			align-items: center;
			width: 556px;
			height: 80px;
			margin: 35px 0 20px;
			padding-left: 38px;
			background: $main_color;
			border-radius: 0 60px 60px 0;
			font-size: 32px;
			font-weight: 700;
			color: #fff;
			@include sp{
				width: s(325);
				height: auto;
				min-height: s(65);
				margin: s(-30) 0 s(15) s(-8);
				padding: s(15) 0 s(15) s(22);
				font-size: s(28);
				line-height: 1.2;
			}
		}
		&_text{
			width: 517px;
			padding-left: 38px;
			margin-bottom: 40px;
			line-height: 1.85;
			@include sp{
				width: s(305);
				padding-left: 0;
				margin: 0 auto s(15);
			}
		}
		&_recycle{
			&_title{
				margin-top: 50px;
				@extend .font-maru;
				font-size: 32px;
				text-align: center;
				line-height: 1.5;
				@include sp{
					margin-top: s(30);
					font-size: s(24);
				}
			}
			&_lead{
				width: 1100px;
				margin: 20px auto 30px;
				line-height: 1.85;
				@include sp{
					width: s(345);
					margin: s(15) auto s(25);
				}
			}
			&_list{
				display: flex;
				width: $cont_w_pc;
				margin: 0 auto 50px;
				li{
					width: 260px;
					figure{
						width: 100%;
						height: 180px;
						border: #DCDCDC 5px solid;
						border-radius: 20px 20px 0 0;
						overflow: hidden;
						box-sizing: border-box;
						img{
							display: block;
							width: 100%;
							height: 100%;
							object-fit: cover;
							font-family: 'object-fit: cover;';
						}
					}
					.name{
						background: $main_color;
						border-radius: 0 0 20px 20px;
						display: flex;
						align-items: center;
						justify-content: center;
						box-sizing: border-box;
						padding-bottom: 5px;
						height: 70px;
					}
					p{
						color: #fff;
						font-weight: 700;
						font-size: 24px;
					}
					& + li{
						margin-left: 20px;
					}
				}
				@include sp{
					display: block;
					width: $cont_w_sp;
					margin: 0 auto s(20);
					li{
						width: 100%;
						display: flex;
						figure{
							width: s(172);
							height: 100px;
							background: #fff;
							border: #DCDCDC s(3) solid;
							border-radius: s(10) 0 0 s(10);
							img{
								object-fit: contain;
								font-family: 'object-fit: contain;';
							}
						}
						.name{
							border-radius: 0 s(10) s(10) 0;
							justify-content: flex-start;
							padding: 0 s(20);
							height: 100px;
							width: s(167);
						}
						p{
							font-size: s(24);
							line-height: 1.4;
						}
						& + li{
							margin-left: 0;
							margin-top: s(5);
						}
					}
				}
			}
			.text-center{
				.l_btn_more{
					@include sp{
						text-align: left;
					}
				}
			}
		}
	}
	
	// -------------------------------------------------
	// price_lower__pickup
	// -------------------------------------------------
	&__pickup{
		padding: 90px 0 30px;
		&_wrap{
			display: flex;
			justify-content: space-between;
			width: 1100px;
			margin: 0 auto;
		}
		&_inr{
			width: 500px;
			.l_section_title{
				margin-bottom: 30px;
				text-align: left;
				.en{
					text-align: left;
				}
			}
		}
		&_lead{
			width: 100%;
			line-height: 1.85;
		}
		&_graph{
			width: 514px;
			img{
				width: 100%;
			}
			.caution{
				margin-top: 5px;
				text-align: right;
				line-height: 1.6;
			}
		}
		@include sp{
			padding: s(25) 0;
			&_wrap{
				display: block;
				width: s(345);
			}
			&_inr{
				width: 100%;
				.l_section_title{
					margin-bottom: s(20);
					text-align: center;
					.en{
						text-align: center;
					}
				}
			}
			&_graph{
				width: 100%;
				margin-top: s(15);
				.caution{
					margin-top: s(5);
					text-align: left;
				}
			}
		}
	}
	
	// -------------------------------------------------
	// price_lower__canbuy
	// -------------------------------------------------
	&__canbuy{
		&_title{
			position: relative;
			width: 1100px;
			margin: 40px auto 30px;
			padding-bottom: 20px;
			@extend .font-maru;
			font-size: 32px;
			text-align: center;
			&::after{
				content: "";
				display: block;
				width: 100%;
				height: 1px;
				background-image: linear-gradient(to right, #dcdcdc, #dcdcdc 4px, transparent 4px, transparent 9px);
				background-size: 9px 1px;
				background-repeat: repeat-x;
				position: absolute;
				bottom: 0;
			}
			@include sp{
				width: s(345);
				margin: s(30) auto s(10);
				padding-bottom: s(15);
				font-size: s(24);
			}
		}
		&_lead{
			width: 1100px;
			margin: 0 auto 30px;
			line-height: 1.85;
			@include sp{
				width: s(345);
				margin: 0 auto s(20);
			}
		}
		&_list{
			display: flex;
			justify-content: space-between;
			width: 1100px;
			margin: 0 auto 30px;
			@include sp{
				flex-wrap: wrap;
				width: s(345);
				margin: 0 auto s(15);
			}
			.item{
				width: 23.6%;
				border: solid 2px #DCDCDC;
				border-radius: 10px;
				background: #fff;
				overflow: hidden;
				@include sp{
					width: 49%;
					border-radius: s(5);
					&:nth-child(n+3){
						margin-top: s(5);
					}
				}
			}
		}
		&_img{
			width: 100%;
			height: 146px;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				font-family: 'object-fit: cover;';
			}
			@include sp{
				height: s(95);
			}
		}
		&_cate{
			width: 230px;
			padding: .4em 0;
			margin: 10px auto 15px;
			background: #E288B1;
			border-radius: 3px;
			font-size: 14px;
			color: #fff;
			text-align: center;
			@include sp{
				width: s(150);
				margin: s(5) auto;
				font-size: s(12);
			}
		}
		&_bland{
			width: 230px;
			margin: 0 auto 5px;
			@include sp{
				width: s(150);
				margin: 0 auto s(5);
			}
		}
		&_name{
			position: relative;
			width: 230px;
			margin: 0 auto;
			padding-bottom: 15px;
			font-size: 18px;
			font-weight: 700;
			color: $main_color;
			line-height: 1.7;
			&::after{
				content: "";
				display: block;
				width: 100%;
				height: 1px;
				background-image: linear-gradient(to right, #dcdcdc, #dcdcdc 4px, transparent 4px, transparent 9px);
				background-size: 9px 1px;
				background-repeat: repeat-x;
				position: absolute;
				bottom: 0;
			}
			@include sp{
				width: s(150);
				padding-bottom: s(10);
				font-size: s(16);
			}
		}
		&_price{
			padding: 20px 15px;
			&_wrap{
				display: inline-flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
			}
			&_text{
				font-size: 14px;
				color: #454D4C;
			}
			&_yen{
				display: inline-flex;
				align-items: flex-end;
				.num{
					@extend .font-osw;
					font-size: 28px;
				}
				.yen{
					font-size: 14px;
				}
			}
			@include sp{
				padding: s(10) s(5);
				text-align: right;
				&_wrap{    
					display: inline-flex;
					align-items: flex-start;
    			flex-direction: column;
					width: auto;
				}
				&_text{
					margin-bottom: s(5);
					font-size: s(12);
					text-align: left;
				}
				&_yen{
					.num{
						font-size: s(28);
					}
					.yen{
						font-size: s(12);
					}
				}
			}
		}
	}
	
	// -------------------------------------------------
	// price_lower__case01
	// -------------------------------------------------
	&__case01{
		padding-top: 40px;
		.l_section_lead{
			margin-bottom: 20px;
		}
		@include sp{
			padding-top: s(25);
			.l_section_lead{
				margin-bottom: s(20);
			}
		}
		&_box{
			width: $cont_w_pc;
			margin: 0 auto;
			padding: 10px;
			border: solid 2px #DCDCDC;
			border-radius: 20px;
			.flex-wrap{
				display: flex;
				justify-content: space-between;
			}
			& + &{
				margin-top: 10px;
			}
			@include sp{
				width: $cont_w_sp;
				padding: s(5);
				border-radius: s(5);
				.flex-wrap{
					display: block;
				}
				& + &{
					margin-top: s(10);
				}
			}
		}
		&_img{
			display: flex;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
				font-family: "object-fit: cover;";
				vertical-align: bottom;
			}
			.before{
				position: relative;
				width: 302px;
				margin-right: 5px;
				border-radius: 10px 0 0 0;
				&::after{
					display: block;
					position: absolute;
					top: 50%;
					right: 0;
					z-index: 2;
					width: 82px;
					height: 111px;
					background: url("../img/price/lower/ico-arrow.svg")no-repeat 0 0 / contain;
					transform: translateX(65%) translateY(-50%);
					content: "";
				}
			}
			.after{
				position: relative;
				z-index: 1;
				width: 302px;
				border: solid $main_color 3px;
				border-radius: 0 0 0 10px;
			}
			@include sp{
				.before{
					width: s(164);
					margin-right: s(3);
					border-radius: s(5) 0 0 0;
					&::after{
						width: s(74);
						height: s(67);
						background: url("../img/price/lower/sp/ico-arrow.svg")no-repeat 0 0 / contain;
					}
				}
				.after{
					width: s(164);
					border-radius: 0 s(5) 0 0;
				}
			}
		}
		&_info{
			width: 420px;
			padding-top: 25px;
			padding-right: 15px;
			.flex-box{
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			.type{
				width: 200px;
				padding: .4em 0;
				background: $main_color;
				border-radius: 3px;
				font-size: 14px;
				text-align: center;
				color: #fff;
			}
			.status{
				position: relative;
				padding: 10px 0 0;
				margin-top: 10px;
				&::before{
					content: "";
					display: block;
					width: 100%;
					height: 1px;
					background-image: linear-gradient(to right, #dcdcdc, #dcdcdc 4px, transparent 4px, transparent 9px);
					background-size: 9px 1px;
					background-repeat: repeat-x;
					position: absolute;
					top: 0;
				}
				&::after{
					content: "";
					display: block;
					width: 100%;
					height: 1px;
					background-image: linear-gradient(to right, #dcdcdc, #dcdcdc 4px, transparent 4px, transparent 9px);
					background-size: 9px 1px;
					background-repeat: repeat-x;
					position: absolute;
					bottom: 0;
				}
				&-list{
					display: flex;
					align-items: center;
					dt{
						padding: .4em .5em;
						margin-right: 10px;
						margin-bottom: 10px;
						background: #F4F4F4;
						border-radius: 3px;
						font-weight: 400;
						white-space: nowrap;
					}
					dd{
						width: 140px;
						margin: 0;
						margin-bottom: 10px;
					}
				}
			}
			.price{
				padding: 30px 0 20px;
				color: #EB6D4E;
				&-wrap{
					display: flex;
					align-items: center;
					justify-content: flex-end;
				}
				&-text{
					font-size: 18px;
					font-weight: 700;
					margin-right: 10px;
				}
				&-num{
					@extend .font-osw;
					font-size: 36px;
				}
				.yen{
					font-size: 14px;
				}
			}
			@include sp{
				width: 100%;
				padding: s(10);
				.type{
					width: s(100);
					font-size: s(12);
				}
				.status{
					position: relative;
					padding: 10px 0 0;
					margin-top: 10px;
					&::before{
						content: "";
						display: block;
						width: 100%;
						height: 1px;
						background-image: linear-gradient(to right, #dcdcdc, #dcdcdc 4px, transparent 4px, transparent 9px);
						background-size: 9px 1px;
						background-repeat: repeat-x;
						position: absolute;
						top: 0;
					}
					&::after{
						content: "";
						display: block;
						width: 100%;
						height: 1px;
						background-image: linear-gradient(to right, #dcdcdc, #dcdcdc 4px, transparent 4px, transparent 9px);
						background-size: 9px 1px;
						background-repeat: repeat-x;
						position: absolute;
						bottom: 0;
					}
					&-list{
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						dt{
							width: s(118);
							border-radius: 2px;
							text-align: center;
						}
						dd{
							width: s(180);
						}
					}
				}
				.price{
					padding: 30px 0 20px;
					color: #EB6D4E;
					&-wrap{
						display: flex;
						align-items: center;
						justify-content: flex-end;
					}
					&-text{
						font-size: 18px;
						font-weight: 700;
						margin-right: 10px;
					}
					&-num{
						font-size: 36px;
					}
					.yen{
						font-size: 14px;
					}
					@include sp{
						padding: s(15) 0 s(10);
					}
				}
			}
		}
		&_outline{
			padding: 20px 20px 10px;
			&_title{
				margin-bottom: 5px;
				font-size: 18px;
				font-weight: 700;
				line-height: 1.5;
				color: $main_color;
			}
			&_text{
				line-height: 1.85;
			}
			@include sp{
				padding: 0 s(10) s(10);
			}
		}
		.text-center{
			margin-top: 30px;
		}
	}
	
	// -------------------------------------------------
	// price_lower__case02
	// -------------------------------------------------
	&__case02{
		margin-top: 70px;
		margin-bottom: 50px;
		.l_cases__list{
			margin-bottom: 25px;
		}
		&_price{
			padding: 20px 15px;
			&_wrap{
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 100%;
			}
			&_text{
				font-size: 14px;
				color: #454D4C;
			}
			&_yen{
				display: inline-flex;
				align-items: flex-end;
				.num{
					@extend .font-osw;
					font-size: 28px;
					margin-left: 15px;
				}
				.yen{
					font-size: 14px;
				}
			}
			@include sp{
				padding: s(10) s(5);
				text-align: right;
				&_wrap{    
					display: inline-flex;
					align-items: flex-start;
    			flex-direction: column;
					width: auto;
				}
				&_text{
					margin-bottom: s(5);
					font-size: s(12);
					text-align: left;
				}
				&_yen{
					.num{
						font-size: s(28);
					}
					.yen{
						font-size: s(12);
					}
				}
			}
		}
	}
	
	// -------------------------------------------------
	// price_lower__recovery
	// -------------------------------------------------
	&__recovery{
		background: #F7F3E5;
		padding-top: 75px;
		padding-bottom: 50px;
		margin-bottom: 50px;
		@include sp{
			padding-top: s(50);
			margin-bottom: s(30);
			padding-bottom: s(30);
		}
		h2{
			margin-bottom: 25px;
			& + p{
				width: $cont_w_pc;
				margin: 0 auto;
				line-height: 1.7;
			}
			@include sp{
				margin-bottom: s(30);
				& + p{
					width: $cont_w_sp;
				}
			}
		}
		&_list{
			width: $cont_w_pc;
			margin: 20px auto 0;
			@include sp{
				width: $cont_w_sp;
				margin-top: s(20);
			}
			li{
				background: #fff;
				position: relative;
				padding: 10px 20px 10px 10px;
				display: flex;
				align-items: center;
				&::after{
					content: "";
					display: block;
					width: 100%;
					height: 1px;
					background-image: linear-gradient(to right, #dcdcdc, #dcdcdc 4px, transparent 4px, transparent 9px);
					background-size: 9px 1px;
					background-repeat: repeat-x;
					position: absolute;
					bottom: 0;
					left: 0;
				}
				&:first-child{
					&::before{
						content: "";
						display: block;
						width: 100%;
						height: 1px;
						background-image: linear-gradient(to right, #dcdcdc, #dcdcdc 4px, transparent 4px, transparent 9px);
						background-size: 9px 1px;
						background-repeat: repeat-x;
						position: absolute;
						top: 0;
						left: 0;
					}
				}
				figure{
					margin-right: 20px;
				}
				.text-box{
					h3{
						color: #03A58E;
						font-weight: 700;
						font-size: 26px;
						margin-bottom: 10px;
					}
					p{
						line-height: 1.8;
					}
				}
				@include sp{
					padding: 0;
					display: block;
					border-radius: 5px 5px;
					box-shadow: 0 0 5px 0 rgba(0,0,0,.16);
					&::after{
						display: none;
					}
					&:first-child{
						&::before{
							display: none;
						}
					}
					& + li{
						margin-top: s(10);
					}
					h3.sp{
						padding: 0 s(55) 0 s(20);
						width: 100%;
						height: s(70);
						display: flex;
						align-items: center;
						position: relative;
						color: #03A58E;
						font-weight: 700;
						font-size: s(26);
						&::after{
							content: "";
							display: block;
							background: url("../img/sp/ico_plus_gr.svg")no-repeat 0 0 / contain;
							width: s(17);
							height: s(17);
							position: absolute;
							right: s(20);
							top: 50%;
							transform: translateY(-50%);
						}
						&.active{
							&::after{
								background: url("../img/sp/ico_minus_gr.svg")no-repeat 0 0 / contain;
							}
						}
					}
					figure{
						display: none;
						margin: 0 auto;
						width: s(325);
						img{
							width: 100%;
						}
					}
					.text-box{
						display: none;
						margin: 0 auto;
						padding: s(15) 0;
						width: s(325);
					}
				}
			}
		}
	}
	
	// -------------------------------------------------
	// price_lower__remarks
	// -------------------------------------------------
	&__remarks{
		padding: 50px 0;
		&_wrap{
			width: $cont_w_pc;
			margin: 0 auto;
			padding: 25px 50px 30px;
			background: #FDFBF2;
			border-radius: 20px;
		}
		&_title{
			margin-bottom: 20px;
			@extend .font-maru;
			font-size: 32px;
			text-align: center;
		}
		.l_list_number{
			li{
				padding-left: 55px;
				font-size: 18px;
				font-weight: 700;
				line-height: 1.5;
				&::before, &::after{
					width: 40px;
					height: 40px;
					font-size: 20px;
					padding: .2em 0;
				}
				& + li{
					margin-top: 25px;
				}
			}
		}
		@include sp{
			padding: s(30) 0;
			&_wrap{
				width: $cont_w_sp;
				padding: s(10) s(15) s(15);
				border-radius: s(20);
			}
			&_title{
				font-size: s(24);
				line-height: 1.5;
			}
			.l_list_number{
				li{
					padding-left: s(35);
					font-size: s(18);
					&::before, &::after{
						width: s(30);
						height: s(30);
						font-size: s(14);
						padding-top: .5em;
					}
					& + li{
						margin-top: s(15);
					}
				}
			}
			
		}
	}
	
	// -------------------------------------------------
	// l_flow
	// -------------------------------------------------
	.l_flow{
		padding-top: 70px;
		background: #F7F3E5;
		@include sp{
			padding: s(50) 0 s(30);
			.l_btn_more{
				margin-top: s(-10);
			}
		}
	}
	
	// -------------------------------------------------
	// l_voice
	// -------------------------------------------------
	.l_voice{
		.l_section_lead{
			width: $cont_w_pc;
			margin: 30px auto;
			line-height: 1.85;
			font-size: 16px;
			font-weight: 400;
			text-align: left;
			@include sp{
				width: $cont_w_sp;
			}
		}
	}
	
	// -------------------------------------------------
	// __faq
	// -------------------------------------------------
	&__faq{
		background: #F7F3E5;
		padding-top: 70px;
		padding-bottom: 50px;
		position: relative;
		h2{
			margin-bottom: 20px;
			& + p{
				width: $cont_w_pc;
				margin: 0 auto 25px;
				line-height: 1.7;
				padding-right: 270px;
				box-sizing: border-box;
			}
		}
		figure{
			position: absolute;
			top: -218px;
			right: 0;
		}
		&_box{
			position: relative;
			width: $cont_w_pc;
			margin: 0 auto;
			dl{
				width: 100%;
				background: #fff;
				border-radius: 10px;
				dt{
					cursor: pointer;
					height: 100px;
					width: 100%;
					display: flex;
					align-items: center;
					box-sizing: border-box;
					padding-left: 95px;
					padding-right: 70px;
					font-size: 18px;
					line-height: 1.8;
					position: relative;
					&::before{
						content: "Q";
						@extend .font-maru;
						font-weight: 700;
						color: #fff;
						width: 60px;
						height: 60px;
						border-radius: 50% 50%; 
						padding: 15px;
						text-align: center;
						font-size: 32px;
						line-height: .9;
						display: block;
						box-sizing: border-box;
						background: $main_color;
						position: absolute;
						top: 50%;
						left: 20px;
						transform: translateY(-50%);
					}
					.ico-slide_down{
						display: block;
						position: absolute;
						right: 20px;
						top: 50%;
						transform: translateY(-50%);
						width: 30px;
						height: 30px;
						background: #F7F3E5;
						border-radius: 50% 50%;
						&::before{
							content: "";
							display: block;
							background: url("../img/plus.svg")no-repeat 0 0 / contain;
							width: 17px;
							height: 17px;
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translateX(-50%) translateY(-50%);
						}
						&.active{
							&::before{
								background: url("../img/minus.svg")no-repeat 0 0 / contain;
								width: 17px;
								height: 2px;
							}
						}
					}
				}
				dd{
					display: none;
					width: 100%;
					box-sizing: border-box;
					padding: 0 25px 25px;
					margin: 0;
					line-height: 1.7;
				}
				& + dl{
					margin-top: 10px;
				}
			}
		}
		.l_btn_more{
			margin-top: 20px;
		}
		@include sp{
			padding-top: s(50);
			padding-bottom: s(30);
			h2{
				margin-bottom: s(25);
				text-align: left;
				padding-left: s(15);
				.en{
					text-align: left;
				}
				& + p{
					width: $cont_w_sp;
					margin: 0 auto s(20);
					padding-right: 0;
				}
			}
			figure{
				top: s(5);
				right: s(-10);
				img{
					width: s(160);
				}
			}
			&_box{
				width: $cont_w_sp;
				dl{
					border-radius: s(10);
					dt{
						padding-left: s(70);
						padding-right: s(45);
						padding: s(15) s(45) s(15) s(70);
						font-size: s(18);
						line-height: 1.5;
						height: auto;
						&::before{
							width: s(40);
							height: s(40);
							padding: s(7);
							font-size: s(26);
							left: s(15);
							top: s(15);
							transform: none;
						}
						.ico-slide_down{
							right: s(20);
							top: s(30);
							transform: none;
							width: s(17);
							height: s(17);
							&::before{
								width: s(8);
								height: s(8);
							}
							&.active{
								&::before{
									width: s(8);
									height: s(2);
								}
							}
						}
					}
					dd{
						padding: 0 s(15) s(20);
					}
					& + dl{
						margin-top: s(10);
					}
				}
			}
		}
	}
	
	.l_shops-pc{
		background: #fff;
	}
	.l_shops-sp{
		background: #fff;
	}
	
	.l_btn_home{
		margin-bottom: 50px;
	}
	
	.l_otherLinks{
		@include sp{
			margin-top: s(10);
		}
	}
}
