br.m_sp {
  display: none; }

@media (min-width: 767px) {
  .l_container {
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto; } }
@media (max-width: 767px) {
  .l_container {
    padding: 0 15px; } }

.l_full_outline {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  position: relative;
  font-size: 32px;
  line-height: 42px; }
  @media (max-width: 767px) {
    .l_full_outline {
      font-size: 24px;
      line-height: 34px; } }
  .l_full_outline > span {
    position: relative; }
    .l_full_outline > span:after {
      content: '';
      background: #FFD800;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px; }
    .l_full_outline > span > span {
      position: relative;
      z-index: 10; }

.l_section_heading {
  margin-bottom: 30px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 700; }
  .l_section_heading .l_heading {
    display: block;
    line-height: 50px; }
    @media (max-width: 767px) {
      .l_section_heading .l_heading {
        font-size: 30px;
        line-height: 42px; } }
    .l_section_heading .l_heading > span {
      color: #EB6D4E; }
      .l_section_heading .l_heading > span.l_heading_number {
        font-size: 62px;
        font-weight: 800; }
        @media (max-width: 767px) {
          .l_section_heading .l_heading > span.l_heading_number {
            font-size: 42px; } }
  .l_section_heading .l_heading_en {
    font-family: 'Oswald', sans-serif;
    display: block;
    text-align: center;
    color: #03A58E;
    font-weight: 600;
    font-size: 20px;
    margin-top: 4px;
    line-height: 30px; }

.bg-pink {
  background-color: #F7F3E5; }

.p-format {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #1A1311; }

.l_section_heading_arrow {
  display: flex;
  align-items: center;
  width: 100%;
  background: #03A58E;
  font-weight: 700;
  height: 80px;
  border-radius: 0 60px 60px 0; }
  .l_section_heading_arrow.l_section_heading_break {
    height: 121px; }
  @media (max-width: 767px) {
    .l_section_heading_arrow {
      width: calc(100% - 13px);
      height: 65px; } }
  .l_section_heading_arrow a {
    color: #fff;
    text-decoration: none;
    font-size: 32px; }
    @media (max-width: 767px) {
      .l_section_heading_arrow a {
        font-size: 28px;
        padding-left: 13px !important; } }

@media (max-width: 767px) {
  .l_btn_more__wrap {
    text-align: left; } }
.l_btn_more__wrap .point-wrapper {
  text-align: left;
  display: flex;
  position: absolute;
  left: -4px;
  top: -6px; }
  .l_btn_more__wrap .point-wrapper.point-center {
    left: 50%;
    margin-left: -48px; }
  .l_btn_more__wrap .point-wrapper .point {
    display: inline-block;
    position: relative;
    min-width: 6px;
    margin: 0 5px;
    background: none; }
    .l_btn_more__wrap .point-wrapper .point:after {
      position: absolute;
      top: 0;
      content: "\A";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #FFD800;
      margin: 0 5px; }

@media (min-width: 767px) {
  .d-small {
    display: none; } }

@media (max-width: 767px) {
  .d-max-small {
    display: none; } }

.breadcrumb ul li + li {
  margin-left: 35px; }

section.l_serviceMenu + section.l_otherLinks {
  margin-top: 0; }

.l_return {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 50px 0; }
  .l_return .l_btn_home {
    margin-top: 0; }

.l_list_features {
  margin: 19px 0 0; }
  @media (min-width: 767px) {
    .l_list_features {
      background-color: #fff; } }
  .l_list_features li {
    padding: 10px; }
    @media (min-width: 767px) {
      .l_list_features li {
        display: flex;
        border-bottom: 1px dashed #DCDCDC; } }
    @media (max-width: 767px) {
      .l_list_features li {
        background-color: #fff;
        margin-bottom: 10px; } }
    .l_list_features li:last-child {
      border-bottom: 0; }
    @media (max-width: 767px) {
      .l_list_features li:nth-child(2) h3 {
        max-width: 261px; } }
    @media (max-width: 767px) {
      .l_list_features li:nth-child(3) h3, .l_list_features li:nth-child(4) h3, .l_list_features li:nth-child(5) h3 {
        max-width: inherit; } }
  .l_list_features .l_section_features_left {
    background-color: #FDFBF2;
    padding: 19px;
    text-align: center; }
    @media (min-width: 767px) {
      .l_list_features .l_section_features_left {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 350px;
        flex-basis: 350px;
        min-height: 200px; } }
    .l_list_features .l_section_features_left img {
      max-width: 100%; }
    .l_list_features .l_section_features_left.l_features_img_full {
      padding: 0; }
  @media (min-width: 767px) {
    .l_list_features .l_section_features_right {
      max-width: calc(100% - 350px);
      flex-basis: calc(100% - 350px);
      padding: 37px 0 0 20px; } }
  @media (max-width: 767px) {
    .l_list_features .l_section_features_right {
      margin-top: 8px;
      margin-bottom: 10px; } }
  .l_list_features h3 {
    color: #03A58E;
    line-height: 37px;
    font-size: 26px;
    margin-bottom: 3px;
    font-weight: 700; }
    @media (max-width: 767px) {
      .l_list_features h3 {
        margin-top: 10px;
        max-width: 245px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 18px; } }

.flow_details_step > li {
  margin-left: 50px;
  border: #03A58E 5px solid;
  border-radius: 20px;
  padding: 40px 30px 30px 25px;
  box-sizing: border-box;
  position: relative;
  background: #fff;
  margin-bottom: 30px; }
  @media (max-width: 767px) {
    .flow_details_step > li {
      margin-left: 0;
      padding: 0; } }
  @media (max-width: 767px) {
    .flow_details_step > li.item-break h4 {
      height: 95px; } }
  .flow_details_step > li h4 {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: -55px;
    right: 0;
    background: #03A58E;
    border-radius: 60px 0 0 60px;
    height: 100px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 35px; }
    @media (max-width: 767px) {
      .flow_details_step > li h4 {
        position: static;
        border-radius: 0;
        height: 75px;
        padding: 0 24px 0 20px; } }
    .flow_details_step > li h4 .number {
      font-family: 'Oswald', sans-serif;
      font-weight: 600;
      display: block;
      font-size: 32px;
      color: #F7F3E5;
      padding-right: 35px;
      margin-right: 20px;
      position: relative; }
    .flow_details_step > li h4 .title {
      font-size: 32px;
      font-weight: 700;
      color: #fff;
      position: relative; }
      @media (max-width: 767px) {
        .flow_details_step > li h4 .title {
          font-size: 24px; } }
  .flow_details_step > li .flow__details_step_cont {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 767px) {
      .flow_details_step > li .flow__details_step_cont {
        flex-wrap: wrap; } }
    .flow_details_step > li .flow__details_step_cont img {
      display: block;
      border-radius: 20px;
      max-width: 100%; }
      @media (max-width: 767px) {
        .flow_details_step > li .flow__details_step_cont img {
          border-radius: 7px; } }
    .flow_details_step > li .flow__details_step_cont .text-box {
      padding-top: 102px;
      padding-right: 30px; }
      @media (max-width: 767px) {
        .flow_details_step > li .flow__details_step_cont .text-box {
          padding: 0 15px 15px;
          order: 2; } }
    @media (max-width: 767px) {
      .flow_details_step > li .flow__details_step_cont figure {
        padding: 15px; } }

.l_list_merit {
  margin: 22px 0 0px; }
  .l_list_merit li {
    display: flex;
    margin-bottom: 23px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
    overflow: hidden;
    transition: all .2s; }
    @media (max-width: 767px) {
      .l_list_merit li {
        flex-wrap: wrap;
        padding: 7px;
        border-radius: 10px; } }
    @media (max-width: 767px) {
      .l_list_merit li:first-child .l_btn_more__wrap .point-wrapper {
        top: -8px; } }
    @media (min-width: 767px) {
      .l_list_merit li:first-child .l_btn_more__wrap .point-wrapper.point-center {
        margin-left: -45px; } }
    @media (max-width: 767px) {
      .l_list_merit li:first-child .l_btn_more__wrap .point-wrapper.point-center {
        right: 22px;
        margin-left: auto;
        left: auto; } }
    @media (max-width: 767px) {
      .l_list_merit li:first-child .l_btn_more {
        padding: 4px 51px 0 30px; } }
    @media (max-width: 767px) {
      .l_list_merit li:first-child .l_btn_more__wrap .icon-arrow {
        right: -26px; } }
    @media (max-width: 767px) {
      .l_list_merit li:nth-child(2) .l_btn_more {
        padding: 5px 85px 0 59px; } }
    @media (max-width: 767px) {
      .l_list_merit li:nth-child(2) .l_btn_more__wrap .icon-arrow {
        right: -25px; } }
    @media (min-width: 767px) {
      .l_list_merit li:nth-child(2) .l_btn_more__wrap .point-wrapper {
        left: -5px; } }
    .l_list_merit li:last-child {
      margin-bottom: 0; }
      @media (max-width: 767px) {
        .l_list_merit li:last-child .l_btn_more__wrap .point-wrapper {
          top: -8px; } }
      @media (min-width: 767px) {
        .l_list_merit li:last-child .l_btn_more__wrap .point-wrapper {
          left: -1px; } }
      @media (max-width: 767px) {
        .l_list_merit li:last-child .l_btn_more {
          padding: 5px 65px 0 43px; } }
      @media (max-width: 767px) {
        .l_list_merit li:last-child .l_btn_more__wrap .icon-arrow {
          right: -23px; } }
    @media (max-width: 767px) {
      .l_list_merit li .l_btn_more__wrap .point-wrapper {
        top: -9px;
        left: -5px; } }
    .l_list_merit li > img,
    .l_list_merit li .l_inherit_width {
      display: block;
      max-width: 484px;
      flex-basis: 484px;
      width: 100%; }
      @media (max-width: 767px) {
        .l_list_merit li > img,
        .l_list_merit li .l_inherit_width {
          margin-left: auto;
          margin-right: auto;
          order: 1; } }
    .l_list_merit li .l_inherit_width {
      background-color: #F7F3E5;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px; }
    @media (min-width: 767px) {
      .l_list_merit li .l_section_request_right {
        max-width: calc(100% - 484px);
        flex-basis: calc(100% - 484px);
        padding-right: 46px; } }
    @media (max-width: 767px) {
      .l_list_merit li .l_section_request_right {
        margin-top: -40px;
        order: 2; } }
    @media (min-width: 767px) {
      .l_list_merit li .l_section_request_right .l_section_heading_arrow {
        margin-top: 35px; } }
    @media (max-width: 767px) {
      .l_list_merit li .l_section_request_right .l_section_heading_arrow {
        position: relative;
        height: 65px; } }
    .l_list_merit li .l_section_request_right .l_section_heading_arrow a {
      padding-left: 39px;
      line-height: 43px; }
    .l_list_merit li .l_section_request_right .p-format {
      padding-top: 16px;
      padding-left: 38px; }
      @media (max-width: 767px) {
        .l_list_merit li .l_section_request_right .p-format {
          padding-left: 13px;
          padding-right: 13px; } }
    .l_list_merit li .l_section_request_right .l_btn-more-wrapper {
      margin-top: 58px;
      text-align: right; }
      @media (max-width: 767px) {
        .l_list_merit li .l_section_request_right .l_btn-more-wrapper {
          margin-top: 15px;
          margin-left: 13px;
          margin-right: 13px;
          margin-bottom: 13px; } }
      @media (max-width: 767px) {
        .l_list_merit li .l_section_request_right .l_btn-more-wrapper .l_btn_more {
          min-width: auto;
          width: 100%; } }

.l_which-one__contents .caution {
  position: absolute;
  right: 0;
  bottom: -2px; }

@media (max-width: 480px) {
  .l_lowerTitle__main {
    font-size: 38px; } }

/*# sourceMappingURL=global.css.map */
