@import '_mixin';

.l_beginner_comparison {
    padding-top: 0px;
    padding-bottom: 0;
    

    .l_full_outline {
        margin-bottom: 11px;
        font-size: 35px;
        line-height: 49px;

        @include respond-to('max-small') {
            text-align: center;
            font-size: 30px;
            line-height: 43px;
        }

        > span > span {
            padding: 0 5px;
        }
    }

    .l_beginner_comparison_box {
        align-items: center;

        @include respond-to('small') {
            display: flex;
        }

        @include respond-to('max-small') {
            margin-top: 20px;
        }

        .d-small {
            @include respond-to('max-small') {
                margin-bottom: 20px;
            }
        }

        .l_beginner_comparison_left {
            @include respond-to('small') {
                flex-basis: calc(100% - 477px);
                max-width: calc(100% - 477px);
                padding-right: 75px;
            }

            .p-format {
                br {
                    @include respond-to('max-small') {
                        display: none;
                    }
                }
            }

            img {
                display: block;
                margin: 0 auto;

                @include respond-to('max-small') {
                    width: 100%;
                }
            }
        }

        .l_beginner_comparison_right {
            @include respond-to('small') {
                padding-right: 60px;
                flex-basis: 477px;
                max-width: 477px;
                padding-left: 0px;
                padding-top: 10px;
            }

            @include respond-to('max-small') {
                padding-top: 15px;
            }

            h3 {
                font-family: 'M PLUS Rounded 1c', sans-serif;
                margin-bottom: 14px;

                > span:after {
                    left: -5px;
                    width: calc(100% - 5px);
                }
            }

            img {
                display: block;
                max-width: 100%;

                @include respond-to('max-small') {
                    margin: 0 auto;
                }
            }
        }
    }
}
.l_section_request {
    .l_list_merit li {
        &:nth-child(2n) {
            h3 {
                margin-left: -10px;
            }
        }
        .l_section_heading_arrow {
            @include respond-to('max-small') {
                margin-left: -10px;
            }
        }
    }
}


.l_section_news_grid {
    .merit-lists {
        display: flex;
        flex-wrap: wrap;
        margin: 16px -6px 0;

        @include mobile {
            flex-wrap: wrap;
        }

        li {
            flex-basis: 33.33%;
            max-width: 33.33%;
            padding: 0 6px;
            margin-bottom: 20px;

            @include respond-to('max-small') {
                flex-basis: 50%;
                max-width: 50%;
            }

            @include mobile {
                flex-basis: 100%;
                max-width: 100%; 
            }

            .merit-lists-box {
                img {
                    display: block;
                    max-width: 100%;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    margin-bottom: 19px;

                    @include respond-to('max-small') {
                        margin-left: auto;
                        margin-right: auto;
                    }
                }

                h3 {
                    a {
                        display: block;
                        color: #03A58E;
                        font-weight: 700;
                        font-size: 18px;
                        text-decoration: none;
                        line-height: 26px;
                        text-align: center;

                        @include respond-to('max-small') {
                            text-align: center;
                        }

                        @include tablet {
                            > br + br {
                                display: none;
                            }
                        }
                    }
                }

                .p-format {
                    line-height: 28px;
                }
            }
        }
    }
}

.l_modal.white .l_modal__wrap {
    padding: 16vw 4vw 8vw;
}

main#beginner {

    .l_section_good_features,
    .l_section_bad_features {
        padding-top: 50px;
        
        > .l_container {
            > .p-format {
                @include respond-to('max-small') {
                    padding-right: 1px;
                }
            }

            .l_list_features h3 {
                max-width: 100%;
            }
        }
    }

    .l_section_good_features,
    .l_section_bad_features {
        ul {
            @include respond-to('small') {
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
            }

            li {
                @include respond-to('max-small') {
                    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
                }
            }
        }
    }

    .l_section_bad_features {
        ul {
            @include respond-to('small') {
                box-shadow: none;
            }
        }
    }

    .l_section_which_one {
        .l_section_heading {
            margin-bottom: 25px;

            & + p + .l_table_wrapper {
                margin-top: 46px;
            }
        }

        .l_full_outline {
            margin-bottom: 30px;
            padding-bottom: 21px;
            border-bottom: 1px solid #DCDCDC;

            @include respond-to('max-small') {
                margin-bottom: 20px;
            }

            > span {
                margin-left: 5px;

                > span {
                    padding: 0 9px;
                }

                &:after {
                    border-radius: 2px;
                }
            }
        }

        .l_table_wrapper {
            margin-bottom: 67px;

            .l_which-one__contents {
                margin-bottom: 27px;

                @include respond-to('max-small') {
                    padding: 0;
                }

                .caution {
                    bottom: -5px;
                }
            }

            &:last-child {
                margin-bottom: 18px;
            }

            .l_which-one__our {
                padding-bottom: 30px;
            }
        }

        .l_which-one__b li,
        .l_which-one__a li {
            &:after {
                width: calc(100% - 40px);
                left: 20px;
            }

        }
        .l_which-one__item li {
            padding-left: 10px;
            &:after {
                width: calc(100% - 20px);
                left: 10px;
            }

        }
    }

    .l_section_request {
        .l_section_heading_arrow {
            &.l_section_heading_break {
                

                @include respond-to('max-small') {
                    height: 95px;
                }

                br {
                    @include respond-to('max-small') {
                        display: none;
                    }
                }

                a {
                    
                    @include respond-to('max-small') {
                        padding-right: 27px;
                        line-height: 35px;
                    }
                }
            }

        }
    }
}

.l_section_five_reason {
    .flow_details_step {
        margin-top: 17px;

        @include respond-to('max-small') {
            margin-top: 38px;
        }
    }

    .flow_details_step > li {
        figure {
            @include respond-to('small') {
                flex-basis: 445px;
                max-width: 445px;
            }
        }

        .text-box {
            @include respond-to('small') {
                max-width: calc(100% - 445px);
                flex-basis: calc(100% - 445px);
            }
        }
        h4 {
            .number {
                padding-right: 14px;

                @include respond-to('max-small') {
                    margin: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: -27px;
                    background: #03A58E;
                    margin-left: -23px;
                    left: 50%;
                    padding: 0;
                    width: 46px;
                    height: 46px;
                    font-size: 20px;
                    border-radius: 100px;
                }
            }

            .title {
                display: flex;
                align-items: center;

                @include mobile {
                    font-size: 21px;
                }
        
                span {
                    padding-left: 8px;
                    line-height: 45px;

                    @include respond-to('max-small') {
                        line-height: 32px;
                    }
                }
            }
        }
    }
}

.l_section_two-links {
    padding-top: 50px;

    @include respond-to('max-small') {
        padding-top: 30px;
    }

    .l_section_banner {
        padding-top: 0;
        padding-bottom: 0;

        > .l_container {
            padding: 0;
        }

        .l_banner {
            margin-bottom: 50px;

            @include respond-to('max-small') {
                margin-bottom: 30px;
            }

            img {
                max-width: 100%;
            }
        }
    }

    .l_btn-more-wrapper {
        text-align: center;
    }

    .l_otherLinks {
        margin-bottom: 30px;

        @include respond-to('max-small') {
            margin-top: 0;
        }

        .l_otherLinks_col {
            @include respond-to('small') {
                flex-basis: 50%;
                max-width: 50%;
            }

            &:first-child {
                @include respond-to('small') {
                    padding-right: 14px;
                }

                @include respond-to('max-small') {
                    margin-bottom: 10px;
                }
            }

            &:last-child {
                @include respond-to('small') {
                    padding-left: 14px;
                }
            }

            .l_otherLinks_box {
                margin: 0;
                width: 100%;
            }
        }
    }



}

.l_which-one__our li:not(.head) {
    margin: 0 60px;
}

.responsove-scroll {
    width: 800px;
    background: #444;
    
    display: flex;
    overflow: auto;
}