@import '_mixin';
@import 'service-house';

.l_service_rearrangement_special_cleaning {
    .l_section_news_single {
        padding-bottom: 22px;

        .l_section_news_single_wrapper {
            display: flex;

            @include respond-to('max-small') {
                flex-wrap: wrap;
            }

            .l_section_news_single_col {
                &:first-child {
                    @include respond-to('small') {
                        flex-basis: 560px;
                        max-width: 560px;
                    }

                    img {
                        display: block;
                        max-width: 100%;
                        border-radius: 20px;
                    }
                }

                &:last-child {
                    padding-top: 20px;

                    @include respond-to('small') {
                        flex-basis: calc(100% - 560px);
                        max-width: calc(100% - 560px);
                        padding-left: 40px;
                    }

                    h3 {
                        margin-bottom: 16px;
                        font-size: 32px;
                        font-weight: 700;
                        line-height: 42px;
                    }
                }
            }
        }
    }

    .l_5reasons_custom_row {
        .l_5reason_alert {
            h4 {
                span {
                    background-image: url(../../assets/img/beginner/RepeatGrid.png);
                    background-repeat: no-repeat;
                    background-position: bottom center;
                    padding-bottom: 9px;
                }
            }
        }
    }

    .service_lower__case02,
    .service_lower__case01 {
        &.service_lower_blue {
            .service_lower__case01_box .flex-wrap .service_lower__case01_img .after,
            .service_lower__case02_box .service_lower__case02_img .after img {
                border-color: #15AAC7;
            }

            .service_lower__case01_box .flex-wrap .service_lower__case01_info .flex-box .type,
            .service_lower__case02_box .service_lower__case02_info .flex-box .type {
                background-color: #15AAC7;
            }

            .service_lower__case01_box .flex-wrap .service_lower__case01_img .before:after {
                background: url(../img/service/rearrangement/special_cleaning/ico-arrows.png) no-repeat 0 0/contain;
            }

            .service_lower__case02_box .service_lower__case02_img .before:after {
                background: url(../img/service/rearrangement/special_cleaning/ico-arrows-down.png) no-repeat 0 0/contain;
            }

        }
    }

    .service_lower__case02.service_lower_blue,
    .service_lower__case01.service_lower_blue {
        padding-bottom: 50px;
    }

    .service_lower__case02.service_lower_blue .service_lower__case02_box {
        background: #fff;
    }

    .l_section_space_01.l_flow {
        padding-bottom: 30px;
    }

    .l_section_news_links {
        .l_btn-more-wrapper {
            margin-top: 30px;
            width: 100%;
        }
    }

    .l_shops-pc {
        padding-top: 70px;
        padding-bottom: 45px;
        background: #F7F3E5;
    }

    .l_5reasons__permit.l_5reasons_custom .l_5reasons_heading h3 img {
        top: 0px;
    }

    .l_5reasons__permit.l_5reasons_custom .l_5reasons_heading h3 img.l_5reasons_quote_left {
        left: -12px;
    }

    .l_5reasons__permit.l_5reasons_custom .l_5reasons_heading h3 img.l_5reasons_quote_right {
        right: -10px;
    }

    .l_5reasons__permit.l_5reasons_custom .l_5reasons_custom_row .l_5reasons_row {
        height: auto;
    }

    .l_5reasons__permit.l_5reasons_custom .l_5reasons_custom_row .l_5reason_alert_wrapper {
        @include respond-to('max-small') {
            margin: 0 15px;
            padding-bottom: 30px;
        }

        h4 {
            @include respond-to('max-small') {
                font-size: 18px;
            }
        }

        .l_5reason_alert {
            padding: 20px 15px;
        }

        .only-sp {
            text-align: left;
        }
    }

    .l_5reasons__permit.l_5reasons_custom .l_5reasons_row .l_5reasons_col:last-child {
        @include respond-to('max-small') {
            padding-bottom: 20px;
        }
    }

    .l_section_request {
        .l_section_heading_arrow {
            .only-sp {
                display: block;
            }
        }
    }
}

.l_btn-more-wrapper_footer {
    margin-bottom: 17px;

    .point-wrapper {
        left: 50%;
        top: -6px;
        margin-left: -43px;
    }
}