@import '_mixin';

.l_service_moving {
    .l_beginner_comparison {
        .l_full_outline > span {
            line-height: 45px;
            margin-left: 2px;
        }

        .l_container {
            @include respond-to('max-small') {
                padding: 0;
            }
        }

        .l_beginner_comparison_left {
            .only-pc {
                @include respond-to('max-small') {
                    display: none;
                }
            }
        }

        .l_beginner_comparison_right {
            @include respond-to('max-small') {
                padding: 13px 0px 0 15px;
            }
        }

        .p-format {
            padding: 0 15px;
        }
    }

    .l_section_news_box .l_green_box .l_list_features li h3 {
        @include respond-to('max-small') {
            max-width: inherit;
        }
    }

    .service_lower__case01 {
        .l_btn_more {
            @include respond-to('max-small') {
                padding-left: 37px;
                padding-right: 55px;
                width: 320px;
            }

            .icon-arrow {
                @include respond-to('max-small') {
                    right: -21px;
                }
            }
        }
    }

    .l_news_grid_3nd .inr h3.height95 .icon-arrow {
        @include respond-to('max-small') {
            margin-top: 0px;
        }
    }
}

.sp-text-center {
    .l_lowerTitle__main {
        @include respond-to('max-small') {
            text-align: center;
            line-height: 47px;
        }
    }

}