main#beginner .l_beginner_about {
  padding-top: 41px; }
  @media (min-width: 767px) {
    main#beginner .l_beginner_about .l_beginner_about_box {
      display: flex; } }
  @media (max-width: 767px) {
    main#beginner .l_beginner_about .l_beginner_about_box .d-small {
      margin-bottom: 20px; } }
  main#beginner .l_beginner_about .l_beginner_about_box .l_beginner_about_left img {
    display: block;
    margin: 0 auto; }
    @media (max-width: 767px) {
      main#beginner .l_beginner_about .l_beginner_about_box .l_beginner_about_left img {
        width: 100%; } }
  @media (min-width: 767px) {
    main#beginner .l_beginner_about .l_beginner_about_box .l_beginner_about_right {
      padding-left: 40px;
      padding-top: 20px; } }
  @media (max-width: 767px) {
    main#beginner .l_beginner_about .l_beginner_about_box .l_beginner_about_right {
      padding-top: 28px; } }
  main#beginner .l_beginner_about .l_beginner_about_box .l_beginner_about_right h3 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    margin-bottom: 14px; }
    main#beginner .l_beginner_about .l_beginner_about_box .l_beginner_about_right h3 > span:after {
      left: -5px;
      width: calc(100% - 58px); }
main#beginner .l_section_features .l_section_heading {
  margin-bottom: 16px; }
  main#beginner .l_section_features .l_section_heading + .p-format {
    padding-right: 5px; }
main#beginner .l_section_features ul {
  margin: 19px 0 0; }
  @media (min-width: 767px) {
    main#beginner .l_section_features ul {
      background-color: #fff; } }
  main#beginner .l_section_features ul li {
    padding: 10px; }
    @media (min-width: 767px) {
      main#beginner .l_section_features ul li {
        display: flex;
        border-bottom: 1px dashed #DCDCDC; } }
    @media (max-width: 767px) {
      main#beginner .l_section_features ul li {
        background-color: #fff;
        margin-bottom: 10px;
        border-radius: 5px; } }
    main#beginner .l_section_features ul li:last-child {
      border-bottom: 0; }
    @media (max-width: 767px) {
      main#beginner .l_section_features ul li:nth-child(2) h3 {
        max-width: 261px; } }
    @media (max-width: 767px) {
      main#beginner .l_section_features ul li:nth-child(3) h3, main#beginner .l_section_features ul li:nth-child(4) h3, main#beginner .l_section_features ul li:nth-child(5) h3 {
        max-width: inherit; } }
  main#beginner .l_section_features ul .l_section_features_left {
    background-color: #FDFBF2;
    padding: 19px;
    text-align: center; }
    @media (min-width: 767px) {
      main#beginner .l_section_features ul .l_section_features_left {
        max-width: 350px;
        flex-basis: 350px;
        min-height: 200px; } }
    main#beginner .l_section_features ul .l_section_features_left img {
      max-width: 100%; }
    main#beginner .l_section_features ul .l_section_features_left.l_features_img_full {
      padding: 0; }
  @media (min-width: 767px) {
    main#beginner .l_section_features ul .l_section_features_right {
      max-width: calc(100% - 350px);
      flex-basis: calc(100% - 350px);
      padding: 37px 0 0 20px; } }
  @media (max-width: 767px) {
    main#beginner .l_section_features ul .l_section_features_right {
      margin-top: 8px;
      margin-bottom: 10px; } }
  main#beginner .l_section_features ul h3 {
    color: #03A58E;
    line-height: 37px;
    font-size: 26px;
    margin-bottom: 3px;
    font-weight: 700; }
    @media (max-width: 767px) {
      main#beginner .l_section_features ul h3 {
        margin-top: 10px;
        max-width: 245px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 18px; } }
main#beginner .l_section_request .l_btn_more {
  padding: 22px 75px 19px 50px; }
main#beginner .l_section_request ul {
  margin: 22px 0 0px; }
  main#beginner .l_section_request ul li {
    display: flex;
    margin-bottom: 23px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
    overflow: hidden;
    transition: all .2s; }
    @media (max-width: 767px) {
      main#beginner .l_section_request ul li {
        flex-wrap: wrap;
        padding: 7px;
        border-radius: 10px; } }
    @media (max-width: 767px) {
      main#beginner .l_section_request ul li:first-child .l_btn_more__wrap .point-wrapper {
        top: -8px; } }
    @media (min-width: 767px) {
      main#beginner .l_section_request ul li:first-child .l_btn_more__wrap .point-wrapper.point-center {
        margin-left: -45px; } }
    @media (max-width: 767px) {
      main#beginner .l_section_request ul li:first-child .l_btn_more__wrap .point-wrapper.point-center {
        right: 22px;
        margin-left: auto;
        left: auto; } }
    @media (max-width: 767px) {
      main#beginner .l_section_request ul li:first-child .l_btn_more {
        padding: 4px 51px 0 30px; } }
    @media (max-width: 767px) {
      main#beginner .l_section_request ul li:first-child .l_btn_more__wrap .icon-arrow {
        right: -26px; } }
    main#beginner .l_section_request ul li:nth-child(2) {
      padding-left: 0; }
      @media (max-width: 767px) {
        main#beginner .l_section_request ul li:nth-child(2) {
          padding-left: 7px; } }
      @media (max-width: 767px) {
        main#beginner .l_section_request ul li:nth-child(2) .l_btn_more {
          padding: 5px 85px 0 59px; } }
      @media (max-width: 359px) {
        main#beginner .l_section_request ul li:nth-child(2) .l_btn_more {
          padding: 5px 64px 0 45px; } }
      @media (max-width: 767px) {
        main#beginner .l_section_request ul li:nth-child(2) .l_btn_more__wrap .icon-arrow {
          right: -35px; } }
      @media (max-width: 480px) {
        main#beginner .l_section_request ul li:nth-child(2) .l_btn_more__wrap .icon-arrow {
          right: -25px; } }
      @media (min-width: 767px) {
        main#beginner .l_section_request ul li:nth-child(2) .l_btn_more__wrap .point-wrapper {
          left: -5px; } }
    main#beginner .l_section_request ul li:last-child {
      margin-bottom: 0; }
      @media (max-width: 767px) {
        main#beginner .l_section_request ul li:last-child .l_btn_more__wrap .point-wrapper {
          top: -8px; } }
      @media (min-width: 767px) {
        main#beginner .l_section_request ul li:last-child .l_btn_more__wrap .point-wrapper {
          left: -1px; } }
      @media (max-width: 767px) {
        main#beginner .l_section_request ul li:last-child .l_btn_more {
          padding: 5px 65px 0 43px; } }
      @media (max-width: 767px) {
        main#beginner .l_section_request ul li:last-child .l_btn_more__wrap .icon-arrow {
          right: -35px; } }
      @media (max-width: 480px) {
        main#beginner .l_section_request ul li:last-child .l_btn_more__wrap .icon-arrow {
          right: -23px; } }
    @media (max-width: 767px) {
      main#beginner .l_section_request ul li .l_btn_more__wrap .point-wrapper {
        top: -9px;
        left: -5px; } }
    main#beginner .l_section_request ul li img {
      display: block;
      max-width: 484px;
      flex-basis: 484px;
      width: 100%; }
      @media (max-width: 767px) {
        main#beginner .l_section_request ul li img {
          margin-left: auto;
          margin-right: auto;
          order: 1;
          height: auto;
          align-self: flex-start; } }
    @media (min-width: 767px) {
      main#beginner .l_section_request ul li .l_section_request_right {
        max-width: calc(100% - 484px);
        flex-basis: calc(100% - 484px);
        padding-right: 46px; } }
    @media (max-width: 767px) {
      main#beginner .l_section_request ul li .l_section_request_right {
        margin-top: -40px;
        order: 2; } }
    @media (min-width: 767px) {
      main#beginner .l_section_request ul li .l_section_request_right .l_section_heading_arrow {
        margin-top: 35px; } }
    @media (max-width: 767px) {
      main#beginner .l_section_request ul li .l_section_request_right .l_section_heading_arrow {
        position: relative;
        height: 65px;
        margin-left: -7px; } }
    main#beginner .l_section_request ul li .l_section_request_right .l_section_heading_arrow a {
      padding-left: 39px; }
    main#beginner .l_section_request ul li .l_section_request_right .p-format {
      padding-top: 16px;
      padding-left: 38px; }
      @media (max-width: 767px) {
        main#beginner .l_section_request ul li .l_section_request_right .p-format {
          padding-left: 13px;
          padding-right: 13px; } }
    main#beginner .l_section_request ul li .l_section_request_right .l_btn-more-wrapper {
      margin-top: 58px;
      text-align: right; }
      @media (max-width: 767px) {
        main#beginner .l_section_request ul li .l_section_request_right .l_btn-more-wrapper {
          margin-top: 15px;
          margin-left: 13px;
          margin-right: 13px;
          margin-bottom: 13px; } }
      @media (max-width: 767px) {
        main#beginner .l_section_request ul li .l_section_request_right .l_btn-more-wrapper .l_btn_more {
          min-width: auto;
          width: 100%; } }
main#beginner .l_section_banner {
  padding: 0 0 50px; }
  main#beginner .l_section_banner .l_banner {
    margin-bottom: 50px; }
    main#beginner .l_section_banner .l_banner:last-child {
      margin-bottom: 0; }
main#beginner .l_btn_more__wrap .icon-arrow {
  top: 55%; }

/*# sourceMappingURL=beginner.css.map */
