@import '_mixin';
main#beginner-select_lower {
	.l_section_space_01 {
		@include respond-to('max-small') {
		    padding: 50px 0 30px;
		}
	}

	.l_section_heading {
	    @include respond-to('max-small') {
		    margin-bottom: 20px;
		}
	}

	.beginner-select__reasons {
		@include respond-to('max-small') {
		    padding-top: 30px;
		}
		.l_section_heading {
			.orange{
			 	font-size: 62px;
			    font-weight: 500;
			    color: #EB6D4E;
			    span {
			    	font-size: 40px;
			    	@include respond-to('max-small') {
					    font-size: 30px;
					}
			    }
			    @include respond-to('max-small') {
				    font-size: 42px;
				}
			}
			@include respond-to('max-small') {
			    margin-bottom: 20px;
			}
		    
		}
		.l_block_steps {
			margin-top: 33px;
			.l_block_steps_item {
				margin-bottom: 30px;
				position: relative;
				.l_block_steps_head {
				    height: 100px;
					background: #03A58E;
					border-radius: 55px 0 0 55px;
					position: absolute;
					width: 100%;
					display: flex;
					align-items: center;
					padding-left: 34px;
					font-size: 32px;
					line-height: 42px;
					color: #fff;
					@include respond-to('max-small') {
			    		height: auto;
			    		border-radius: 10px 10px 0 0;
			    		position: relative;
			    		padding: 23px 0 18px;
			    		margin-top: 43px;
					}
				}
				.l_block_steps_content {
				    border: 5px solid #15A58E;
					border-radius: 20px;
					margin-left: 50px;
					display: flex;
					padding: 40px 30px 30px;
					.steps_wrap_thumb {
					    order: 1;
					    flex-basis: 445px;
					    min-height: 280px;
					    border-radius: 20px;
					    border: 2px solid #E3E3E3;
					    background: #fff;
					    text-align: center;
					    display: flex;
					    align-items: center;
					    justify-content: center;
					    position: relative;
					    overflow: hidden;
					    @include respond-to('max-small') {
				    		order: 0;
					    	flex-basis: 100%;
					    	min-height: 200px;
					    	padding: 14px;
						}
						img {
							@include respond-to('max-small') {
					    		max-width: 100%;
							}
						}
					}
					.p-format {
						padding-top: 75px;
						max-width: calc(100% - 445px);
						flex-basis: calc(100% - 445px);
						@include respond-to('max-small') {
				    		padding-top: 15px;
							max-width: 100%;
							flex-basis: 100%;
						}
					}
					@include respond-to('max-small') {
			    		padding: 15px;
			    		border-radius: 0 0 20px 20px;
			    		margin-left: 0;
			    		flex-wrap: wrap;
					}
				}
				.l_block_sub_title {
					max-width: 538px;
					font-weight: 700;
					padding-left: 36px;
					font-family: 'M PLUS Rounded 1c', sans-serif;
					&:before {
						content: "";
						display: inline-block;
						height: 21px;
						width: 1px;
						background: #DCDCDC;
						margin-right: 20px;
						@include respond-to('max-small') {
				    		display: none;
						}
					}
					&__yellow {
						color: #FFD800;
					}
					@include respond-to('max-small') {
			    		padding: 0 15px;
			    		font-size: 24px;
			    		line-height: 34px;
			    		margin: 0 auto;
			    		max-width: none;
			    		text-align: center;
					}
				}
				.step_num {
				    font-weight: 600;
				    font-family: 'Oswald', sans-serif;
				    @include respond-to('max-small') {
			    		width: 46px;
						height: 46px;
						position: absolute;
						top: -23px;
						left: 50%;
						background: #15A58E;
						text-align: center;
						border-radius: 50%;
						font-size: 20px;
						line-height: 46px;
						transform: translateX(-50%);
					}
				}
			}
			@include respond-to('max-small') {
			    margin-top: 20px;
			}
		}
		
	}

	.beginner-select_warning {
		margin-top: 50px;
		border: 3px solid #ED4C24;
		border-radius: 10px;
		overflow: hidden;
		@include respond-to('max-small') {
		    margin-top: 30px;
		}
		.l_warningTitle {
		    margin-top: 0px;
		    padding: 20px 0 16px;
		    background: #ED4C24;
		    color: #fff;
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    justify-content: center;
		    font-weight: 700;
		    line-height: 42px;
		    font-size: 32px;
		    text-align: center;
		    .point {
		    	padding-top: .2em;
				display: block;
				position: relative;
				&:before {
				    content: "";
				    background-position: top left -8px;
				    background-repeat: repeat-x;
				    background-size: 1.0em .2em;
				    background-image: radial-gradient(0.1em 0.1em at center center, #FFD800, #FFD800 100%, transparent);
				    position: absolute;
				    height: 0.2em;
				    width: 306px;
				    top: 0;
				    left: 50%;
				    transform: translateX(-50%);
				    @include respond-to('max-small') {
					    width: 178px;
					}
				}
		    }
		    @include respond-to('max-small') {
			    line-height: 26px;
			    font-size: 18px;
			}
		}
		&_wrap {
		    padding: 30px;
		    @include respond-to('max-small') {
			    padding: 15px;
			}
		    .p-format {
		    	&:first-child{
		    		margin-bottom: 30px;
		    		@include respond-to('max-small') {
					    margin-bottom: 20px;
					}
		    	}
		    }
		    .l_section_features {
		    	ul {
		    		display: flex;
			    	justify-content: space-between;
			    	li {
					    flex-basis: calc((100% / 3) - (40px / 3));
					    @include respond-to('max-small') {
						    flex-basis: 100%;
						    margin-bottom: 20px;
						}
						&:last-child{
							margin-bottom: 0;
						}
						.l_section_features_top {
							position: relative;
							&:before {
								content: "";
								width: 117px;
								height: 117px;
								background-image: url(../../assets/img/beginner/ico.png);
								position: absolute;
								background-repeat: no-repeat;
								background-size: contain;
								left: 50%;
								top: 50%;
								transform: translateX(-50%) translateY(-50%);
								@include respond-to('max-small') {
								    width: 110px;
								    height: 110px;
								}
							}
						}
					}
					@include respond-to('max-small') {
					    flex-wrap: wrap;
					}
		    	}
		    	img {
		    		border-radius: 10px 10px 0 0;
		    		overflow: hidden;
		    		@include respond-to('max-small') {
					    width: 100%;
					}
		    	}
		    	a {
		    		line-height: 26px;
		    		font-size: 18px;
		    		color: #ED4C24;
		    		font-weight: 700;
		    		margin: 20px 0 10px;
		    		text-decoration: none;
		    		display: block;
		    		@include respond-to('max-small') {
					    margin: 10px 0;
					    text-align: center;
					}
		    	}
		    }
		    .l_title_warnning {
			    font-size: 32px;
			    line-height: 44px;
			    font-weight: 700;
			    text-align: center;
			    margin: 50px 0 30px;
			    padding-bottom: 10px;
			    font-family: 'M PLUS Rounded 1c', sans-serif;
			    max-width: 800px;
			    margin: 50px auto 30px;
			    background-image: url(../../assets/img/beginner/RepeatGrid.png);
			    background-repeat: no-repeat;
			    background-position: bottom left;
			    @include respond-to('max-small') {
				    font-size: 24px;
				    line-height: 34px;
				    margin: 35px auto 20px;
				}
			}
			.warning_content {
			    text-align: center;
			    padding-top: 33px;
			    position: relative;
			    &:before {
			    	content: "";
			    	background-image: url(../../assets/img/beginner/attention.png);
			    	position: absolute;
			    	height: 69px;
			    	width: 76px;
			    	top: 0;
			    	left: 50%;
			    	transform: translateX(-50%);
			    	@include respond-to('max-small') {
					    height: 46px;
					    width: 48px;
					    background-size: contain;
					}
			    }
			    &_box {
				    padding: 45px 40px 30px;
				    border: 1px dashed #EB6D4E;
				    background: #FCDFD8;
				    border-radius: 20px;
				    @include respond-to('max-small') {
					    padding: 25px 10px 20px;
					}
				}
				.p_warning {
					font-size: 22px;
					line-height: 33px;
					font-weight: 700;
					@include respond-to('max-small') {
					    font-size: 16px;
						line-height: 26px;
						text-align: left;
					}
				}
				.l_title_warnning_bg {
				    font-size: 28px;
				    font-weight: 700;
				    color: #fff;
				    line-height: 40px;
				    display: inline-block;
				    margin: 25px 0 15px;
				    span {
				    	background-color: #ED4C24;
				    	height: 35px;
						display: inline-block;
						line-height: 35px;
						@include respond-to('max-small') {
						    line-height: 26px;
						    height: auto;
						}
				    }
				    @include respond-to('max-small') {
					    font-size: 20px;
					    line-height: 26px;
						margin: 10px 0;
						text-align: left;
						display: block;
					}
				}
				.l_p_warning {
					color: #ED4C24;
					font-size: 28px;
					line-height: 40px;
					font-weight: 700;
					padding-bottom: 10px;
					background-image: url(../../assets/img/beginner/RepeatGrid.png);
					background-repeat: no-repeat;
			    	background-position: bottom center;
			    	background-size: 598px;
			    	@include respond-to('max-small') {
					    font-size: 20px;
					    line-height: 26px;
					}
				}
				@include respond-to('max-small') {
				    padding-top: 24px;
				}
			}
		}
	}

	.l_section_qualification {
		.l_section_features {
			margin-top: 32px;
		    background: #FFF;
		    padding: 30px;
		    border-radius: 10px;
		    border: 3px solid #03A58E;
		    li {
		    	display: flex;
				position: relative;
				margin-bottom: 30px;
				.ico_left {
				    position: absolute;
				    width: 92px;
				    height: 92px;
				    border: 4px solid #fff;
				    border-radius: 50%;
				    background: #03A58E;
				    color: #fff;
				    font-weight: 700;
				    font-size: 14px;
				    text-align: center;
				    left: -18px;
				    top: -18px;
				    display: flex;
					justify-content: center;
					align-items: center;
					
					.ico_left__small {
					    line-height: 19px;
					    @include respond-to('max-small') {
						    line-height: 15px;
						}
					}
					.ico_left__large {
					    font-size: 26px;
					    line-height: 35px;
					    margin-top: -4px;
					    @include respond-to('max-small') {
						    font-size: 20px;
						    line-height: 29px;
						    margin-top: -2px;
						}
					}
					@include respond-to('max-small') {
					    width: 68px;
					    height: 68px;
					    border: 2px solid #fff;
					    font-size: 10px;
					    left: -12px;
					    top: -12px;
					}
				}
				&:nth-child(2) .ico_left {
					background: #E288B1;
				}
				&:last-child {
					margin-bottom: 0;
				}
				.l_section_features_left {
				    max-width: 350px;
				    min-height: 200px;
				    background-color: #FDFBF2;
				    flex-basis: 350px;
				    display: flex;
				    align-items: flex-end;
				    justify-content: center;
				    @include respond-to('max-small') {
					    max-width: 100%;
					    flex-basis: 100%;
					    img {
					    	max-width: 100%;
					    }
					}
				}
				.l_section_features_right {
				    max-width: calc(100% - 350px);
				    flex-basis: calc(100% - 350px);
				    padding: 25px 0 0 30px;
				    .d-max-small {
				    	font-size: 26px;
						color: #03A58E;
						line-height: 35px;
						margin-bottom: 4px;
						font-weight: 700;
						@include respond-to('max-small') {
						    display: block;
						    text-align: center;
						    font-size: 18px;
						    line-height: 26px;
						}
				    }
				    @include respond-to('max-small') {
					    max-width: 100%;
					    flex-basis: 100%;
					    padding: 10px 0 0;
					}
				}
				@include respond-to('max-small') {
				    flex-wrap: wrap;
				}
		    }
		    .p-format {
		    	margin-top: 20px;
		    	@include respond-to('max-small') {
				    margin-top: 10px;
				}
		    }
		    @include respond-to('max-small') {
			    margin-top: 20px;
			    padding: 20px 15px;
			}
		}
	}
	

	.beginner-select_lower__trouble_catch{
		position: relative;
		background: #03A58E;
		&_inr{
			position: relative;
			width: 1100px;
			margin: 0 auto;
			padding: 26px 0 35px;
			text-align: center;
			@include respond-to('max-small') {
			    display: flex;
			    flex-wrap: wrap;
			    justify-content: center;
			    padding-bottom: 0;
			    width: auto;
			}
		}
		&_img-l, &_img-r{
			position: absolute;
			bottom: 0;
			width: 240px;
			img{
				width: 100%;
				vertical-align: bottom;
			}
			@include respond-to('max-small') {
				position: relative;
				order: 1;
			}
		}
		&_img-l{
			width: 152px;
			left: 24px;
			bottom: 20px;
			@include respond-to('max-small') {
			    left: auto;
				bottom: 13px;
				width: 82px;
				align-self: flex-end;
			}
		}
		&_img-r{
			right: -38px;
			@include respond-to('max-small') {
				right: auto;
				width: 137px;
				margin-left: 30px;
			}
		}
		&_text{
			display: inline-block;
			position: relative;
			font-size: 33px;
			text-align: center;
			color: #fff;
			line-height: 1.5;
			font-family: 'M PLUS Rounded 1c', sans-serif;
			.color_yellow{
				color: #FFD800;
				line-height: 64px;
				@include respond-to('max-small') {
					line-height: 34px;
					font-size: 18px;
				}
				.catch_small {
					font-size: 40px;
					@include respond-to('max-small') {
						font-size: 18px;
					}
				}
			}
			strong{
				font-size: 52px;
				@include respond-to('max-small') {
					font-size: 26px;
				}
			}
			&::after{
				display: block;
				position: absolute;
				top: -55px;
				right: 0;
				width: 110px;
				height: 100px;
				background: url("../img/service/lower/shine.svg")no-repeat 0 0 / contain;
				content: "";
				@include respond-to('max-small') {
					top: -15px;
					width: 60px;
					height: 52px;
				}
			}
			@include respond-to('max-small') {
			    line-height: 25px;
			    width: 100%;
			    font-size: 18px;
			    margin: 0 20px 5px;
			}
		}
	}

	.l_section_other_qualification {
		li {
			&:first-child .ico_left{
				background: #3678BA;
			}
		}
	}

	.l_section_banner {
        padding-top: 50px;
        @include respond-to('max-small') {
		    padding-top: 30px;
		}
        
        .l_banner {
            margin-bottom: 50px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .l_otherLinks_section {
    	margin-top: 0;
    	.l_btn-more-wrapper {
    		text-align: center;
    		margin-top: 30px;
    		width: 100%;
    	}
    }

    .l_serviceMenu {
    	@include respond-to('max-small') {
		    padding: 30px 0;
		}
    }

}

