.column_search{
    background: #03A58E;
    border-radius: 5px;
    width: 220px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    box-shadow: 0 0 5px rgb(0 0 0 / 16%);
    transition: all .2s;
    position: relative;
    margin: 20px auto 50px;
}

.column_search::after{
    content: "";
    display: block;
    background: url(../img/ico_plus.svg) no-repeat 0 0/contain;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.column_search_box{
margin: 20px auto;
width: 1100px;
}


.column_search_result{
padding: 15px 10px;
background:#f3f3f3;
font-weight:bold;
border-left: solid #1aa68f;
}




.column_search_modal{
    background: #fff;
    border-radius: 10px;
    padding:20px;
    width:100%;
    height:auto;

}

.column_search_modal p{
    margin:0 0 10px;
    display: flex;
    align-items: center;
}

.column_search_modal p:after{
border-top: dashed 0.1px #bbe4dd;
content: "";
flex-grow: 1;
margin-left: auto;
}


.column_tag_box {
    margin:10px 0 5px;
    overflow:hidden;
     margin:10px 0 20px;
}

.column_tag_box p{
    padding: 2px 5px;
    color:#bbbbbb;
    background: #f3f3f3;
    margin:0 5px;
    border:solid 0.1px;
    border-radius: 3px;
    float:left;
    font-size:13px;
}

.column_tag_sc{
    color:#fff !important;
    background: #2a9f89!important;
     border:solid 0.1px #2a9f89!important;
}

.column_tag_box_block02 {
    margin:10px 0 5px!important;
}

.column_search_modal_botan{
    padding:20px 0;
    width:300px;
    border-radius: 50px;
    text-align:center;
    color:#fff;
    background: #eb6d4e;
    font-size:20px;
    margin:20px auto 15px;
}

.column_search_modal_text{
resize: none;
padding:15px 10px;
    color:#bbbbbb;
    background: #f3f3f3;
    border-radius: 3px;
    margin:0 0 20px;
}

.column_search_modal_tag_sp{
margin:0 0px 15px ;
}

.column_search_modal_tag_sp select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.column_search_modal_tag_sp select::-ms-expand {
    display: none;
}
.column_search_modal_tag_sp.cp_sl01 {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}
.column_search_modal_tag_sp.cp_sl01::before {
	position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
.column_search_modal_tag_sp.cp_sl01 select {
	padding: 8px 38px 8px 8px;
	color: #666666;
}


@media (min-width: 681px) {
.sp-only{
display:none;
}
}

@media (max-width: 680px) {
.column_search_box{
width: 90%;
}
.pc-only{
display:none;
}

.column_search_modal_botan{
width:100%;
}

.column_search_modal_text{
width:100%;
}
}
@media (max-width: 680px) {
.scroll{
    overflow-y:scroll;
    height: 390px;
}
}

.column_list{
width:100%!important;
overflow:auto;
padding:0 0px 0;
}

.column_list .plicelist_list{
width:100%!important;
}

.column_list div{
width:730px!important;
}

@media (max-width: 680px) {
.column_list .column_col2{
width:100%!important;
}
}

.margin_c{
margin:0 auto!important;
}


.columns{
    background: #03A58E;
    padding:5px;
    font-size:13px;
    border-radius: 3px;
    font-weight: bold;
}

.columns p{
    color: #fff;
    text-align: center;
    margin:10px 0 10px;
    line-height: 1.5;
}

.columns img{
width: 97%!important;
    margin:5px 5px 5px;
}

.mail_24botan {
    margin:5px 5px 10px!important;
}

.columns_card{
    border-radius: 3px;
}

.columns_card li{
background:#fff;
color:black;
padding:10px;
border-bottom:solid 2px #03A58E;
    font-size: 14px;
    font-weight: bold;
    overflow: auto;
}

.columns_card li p{
width:40%;
color:black!important;
margin:auto;
float:left;
font-size: 16px;
}

.columns_card li p:first-child {
margin:10px 0;
}



.columns_card li img{
height: 50px;
    width: auto!important;
margin-left: 40px;
}

.columns_card_sc{
height: 30px!important;
    width: auto!important;
    margin: 20px 0px 0px!important;
}

.columns_tpoint_text{
     width: 65%!important;
     margin: 20px 0 0!important;
}

.columns_tpoint_img{
    padding: 10px 0 0!important;
     width: 30%!important;
}

.columns_tpoint_img{
    padding: 5px 0 0!important;
     width: 30%!important;
}

.columns_credit_img{
margin-right:10px!important;
}

.columns_maps_bg{
background:#fff!important;
}

/*▼column_card_block*/

.column_card_block{
overflow:auto;
padding:5px 10px;
}

.column_card_block01{
margin:10px 0;
width: 100%;
}



.column_card_block01 p{
float:left;
width:45%;
font-size: 20px;
font-weight: bold;
line-height:1.7;
font-family: 'Rounded Mplus 1c'!important; 
}
.column_card_block01 p span{
font-size:18px;
}

.column_card_block01 img{
width:54%;
}

.column_card_block03{
margin:30px 0 0;
}

.column_card_block03 p{
background:#fff;
border: solid 1px #ebe9e4;
padding:15px 20px;
width:75%;
position: relative;
float:left;
font-size:20px;
line-height:1.4;
}

.column_card_block03 p:after{
    border-left: 10px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    content: "";
    position: absolute;
    right: -9px;
    z-index:11px;
    top: 40%;

}

.column_card_block03 p:before{
    border-left: 10px solid #ebe9e4;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    content: "";
    position: absolute;
    right: -10px;
    top: 40%;
}


.column_card_block04{
margin:0px 30px 0;
}


.column_card_block03 img{
height: 130px;
    margin-left: 16px;
    position: absolute;
      margin-top: -27px;
}


@media (max-width: 680px) {
.column_card_block01 p{
width:100%;
margin:0 0 10px;
    text-align: center;
    font-size: 19px;
}
.column_card_block01 img{
width:100%;
    margin-bottom: 40px;
}

.column_card_block03 p:before,.column_card_block03 p:after{
display:none;
}

.column_card_block03 p{
margin-top:50px;
padding-top:50px;
width:100%;
    text-align: center;
    font-size:16px;
}
.column_card_block03 img{
    left: 35%;
    border-radius: 50%;
}
.column_card_block04{
margin:0px 0px 0;
}
}
/*▲column_cardblock*/
.column_card_callphone .num svg{
    width: 350px!important;
}

@media (max-width: 680px) {
.columns_card_sc{
margin:10px;
}

.columns_card li img{
    height: 40px;
}
}

.column_contact_child{
margin-top:20px;
margin-bottom:40px;
padding-top:5px;
}

.column_contact_child .l_contact__tel h3{
width:80%;

}

.column_contact_child .l_contact__tel .l_contact__tel_cont{
width:100%;
}

.column_contact_child .l_contact__tel .l_contact__tel_cont p{
    font-size:10px;
}

.column_contact_child .l_contact__inr{
    width: 100%;
}

.column_contact_child .l_contact__inr .l_contact__line{
margin-right:10px;
}

.column_contact_child .l_contact__inr .l_contact__line span{
    font-size: 18px;
}

.column_contact_child .l_contact__inr .l_contact__line .qr{
margin-right: 30px;
}

.column_contact_child .l_contact__inr .l_contact__mail span{
    font-size: 18px;
}


@media (max-width: 680px) {
.column_contact_child{
    width: 110%;
    margin: 5px -17px 20px!important;
}
}

.katazuke_logos{
position:relative;
}

.katazuke_logos img{
    position: absolute;
    top: -70px;
    width: 150px;
}





.column_card{
margin:15px 15px 25px;
padding:10px;
border-radius: 20px;
background:#F7F3E5;
}


.column_card h3{
padding:0 0 10px;
margin:15px 10px 10px;
border-bottom:solid 1px #e0d9ba;
font-size:28px;
text-align:center;
font-weight:bold;
line-height:1.3;
font-family: 'Rounded Mplus 1c'!important; 
}

@media (max-width: 680px) {
.katazuke_logos img{
left:27%;
width: 133px;
    top: -40px;
}

.column_card_callphone .num svg{
    width: 56.8vw!important;
}
.column_card h3{
font-size:24px;
}
}


.column_card_purchase{
background:#e288b2!important;
}

.column_card_garbage{
background:#f0a77e!important;
}

.column_card_relics{
background:#29aac7!important;
}

.column_card_cleaning{
background:#6cc46d!important;
}

.column_card_during{
background:#9289c4!important;
}

.column_card_dismantling{
background:#3678ba!important;
}
@media (min-width: 681px) {
.l_contact__mail .icon{
    margin-left: -60px;
}
}
.column_card_block01 .marker{
    background:  #FFD800;
}

.pricelist__about_method {
    border-radius: 10px;
}

.column_card_block04 h2 picture img{
    width: 80%;
}

.column__article_checklist li{
margin-top:15px;
}

.small_qr{
width:54px;
}

.small_line{
width:46px!important;
height:46px!important;
}
.small_line img{
width:32px!important;
}

.column_creditcard{
margin-right:20px;
}

.column_creditcard figure{
width:100px;
}

.column_creditcard figure picture img{
width:100px;
}

.column_img{
width:100%;
}
.column_img img{
width:100%;
}

.column_checklist li{
margin-top:15px!important;
}

@media (max-width: 680px) {


.column_checklist li{
font-size:18px!important;
}
}