
@import '_general';
$main_color: #03A58E;
$border_color: #DCDCDC;

//==================================================
// qa
//==================================================

.qa{
	&_inner{
		max-width: 1100px; 
		margin:0 auto;
		@include sp{
			padding:0 4vw;
		}
	}
	&_lead{
		padding:0 0 50px 0;
		@include sp{
			padding:0 0 s(30) 0;
		}
		&__txt{
			padding:25px 0;
			line-height: 1.875;
			@include sp{
				padding:s(20) 0 s(18) 0;
			}
		}
	}

	&_bg{
		padding:70px 0 52px 0;
		background: #F7F3E5;
		@include sp{
			padding:s(50) 0 s(32) 0;
		}
		&_low_space{
			padding:52px 0;
			@include sp{
				padding:s(50) 0 s(32) 0;
			}			
		}
	}
	&_sec{
		margin-bottom: 75px;
		@include sp{
			margin-bottom:s(50);
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
	
	&_ttl{
		margin-bottom: 30px;
		padding-bottom: 28px;
		text-align: center;
		font-size: 32px;
		font-weight: bold;
		letter-spacing:normal;
		border-bottom: dashed 1px $main_color;
		@include sp{
			padding-bottom: s(15);
			margin-bottom: s(20);
			font-size:s(24);
			border-width: s(1);
		}
	}
	&_list{
		li{
			margin-bottom: 10px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&_link{
		display: flex;
		align-items: center;
		min-height: 100px;
		padding:20px 70px 20px 95px;
		background-color: #fff;
		background-image: url("../img/qa/ico_q.svg"),url("../img/qa/ico_link.svg");
		background-repeat: no-repeat,no-repeat;
		background-position: 20px center,calc(100% - 20px) center;
		font-size: 18px;
		font-weight: bold;
		text-decoration: none;
		line-height: 1.666;
		border-radius: 10px;
		@include sp{
			padding:s(15) s(47) s(15) s(65);
			border-radius: s(10);
			font-size:s(18);
			background-size:s(40) auto,s(17) s(17);
			background-position: s(15) s(15), 95% s(31);
		}
	}

	&_retrun{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding:0 0 50px 0;
		@include sp{
			padding:0 0 s(30) 0;
		}
		&__home.l_btn_home{
			@include sp{
				margin-top:15px;
			}
		}
		&__shop.l_btn_more{
			    padding: 20px 105px 14px 80px;
		}
	}



	&_single{
		padding:30px 0 0 0;
		@include sp{
			padding:s(15) 0 0 0;
		}
		&__inner{
			max-width: 900px;
			margin:0 auto;
			@include sp{
				padding:0 4vw;
			}
		}
		&__ttl{
			margin-bottom: 25px;
			padding-left: 75px;
			background: url("../img/qa/ico_q.svg") no-repeat left top;
			font-size: 32px;
			font-weight: bold;
			line-height: 1.3125;
			@include sp{
				margin-bottom: s(15);
				padding-left:s(50);
				font-size:s(18);
				line-height: 1.666;
				background-size:s(40) s(40);
				background-position: left s(5);
			}
		}
		&__box{
			margin-bottom: 50px;
			padding-bottom: 45px; 
			border-bottom:solid 1px #DCDCDC;
			line-height: 1.875;
			@include sp{
				margin-bottom:s(30);
				padding-bottom:s(30);
			}
		}		
		&__row{
			display: flex;
			margin-bottom: 40px;
			@include sp{
				flex-wrap:wrap;
				margin-bottom: s(28);
			}
		}
		&__img{
			margin:10px 20px 20px 0;
			@include sp{
				margin:0 0 s(18) 0;
			}
			img{
				display: block;
				@include sp{
					max-width: 100%;
				}
			}
		}

		&__retrun.l_btn_more{
			padding: 22px 90px 19px 65px;
			@include sp{
				padding: s(22) s(33) s(19) s(25);
			}
			.l_btn_more__wrap{
				display: inline-block;
			}
			.icon-arrow{
				right: -30px;
				@include sp{
					right:s(-22);
				}
			}
		}
		&_sec{
			margin-bottom: 52px;
		}
	}

	&_no_bg.city__menu{
		padding:80px 0 0 0;
		background: #fff;
		@include sp{
			padding:s(40) 0 0 0;
		}
	}
   &_space.l_otherLinks{
	   margin:40px auto 20px auto;
        @include sp{
			margin:s(25) auto s(5) auto;
		}
    }	

}

//==================================================
// voice
//==================================================
.voice{
	&_list{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li{
			margin-bottom: 10px;
		}
	}
	&_data{
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		font-size: 14px;
		@include sp{
			width:100%;
			margin-bottom: s(5);
			font-size: s(14);
		}
		&__single{
			@include sp{
				margin-bottom:s(10);
			}
		}

		&__ttl{
			width: 118px;
			padding:8px 3px;
			border-radius: 3px;
			background: #F4F4F4;
			font-weight: 400;
			text-align: center;
			@include sp{
				width:s(118);
			}
			&_fit{
				width: auto;
				min-width: 3em;
			}
		}


		&__txt{
			margin-left: 0;
			padding-left: 10px;
		}

			
	}	


	&_unit{
		display: block;
		width: 545px;
		padding:20px;
		border:solid 2px #DCDCDC;
		border-radius: 10px;
		background: #fff;
		text-decoration: none;
		@include sp{
			width:100%;
			padding:s(15);
		}
		&__head{
			display: flex;
			flex-wrap:wrap;
			justify-content: space-between;
			border-bottom: dashed #DCDCDC 1px;
			@include sp{
				flex-wrap:wrap;
			}
			dl{

			}
		}

		&__col_01{
			display: flex;
			justify-content: space-between;
			width: 270px;
			@include sp{
				flex-wrap:wrap;
				width: 100%;
			}
		}
		&__col_02{
			display: flex;
			justify-content: space-between;
			width: 230px;
			@include sp{
				flex-wrap:wrap;
				width: 100%;
			}
		}		
		&__body{
			position: relative;
			display: flex;
			padding-top: 10px;
			@include sp{
				flex-wrap:wrap;
			}
			&_left{
				width: 130px;
				@include sp{
					width:s(82);
				}
				img{
					max-width: 100%;
					border:solid 1px #0F7893;
				}
			}		
			&_right{
				width: calc(100% - 130px);
				padding:0 0 20px 15px;
				@include sp{
					width:calc(100% - #{s(82)});
					padding:0 0 0 s(8);
				}
			}			
		}
	
		&__name{
			margin-bottom: 5px;
			font-size: 14px;
		}
		&__ttl{
			color:$main_color;
			font-size: 18px;
			font-weight: bold;
			line-height: 1.66;
			@include sp{
				font-size:s(18);
			}
		}
		&__txt{
			line-height: 1.875;
			@include sp{
				width: 100%;
				padding-bottom: s(15);
				font-size:s(16);
			}
		}
		&__more{
			position: absolute;
			right:0;
			bottom:0;
			padding:2px 22px 3px 0;
			background: url("../img/store/voice/ico_arrow.svg") no-repeat right center;
			text-align: right;
			font-size: 14px;
			@include sp{
				font-size:s(14);
			}
		}
		&__star{
			@include sp{
				width:s(15);
				margin-right:s(3);
			}
		}
	}

	.l_btnlist{
		margin-bottom: 50px;
		@include sp{
			margin-bottom: s(30);
		}
	}

	&_ttl{
		margin-bottom: 30px;
		font-size: 32px;
		font-weight: bold;
		line-height: 1.3125;
		@include sp{
			margin-bottom: s(50);
			font-size: s(24);
		}
		&__name{
			display: block;
			font-size: 16px;
			font-weight: 400;
			@include sp{
				font-size:s(16);
			}
		}
	}

	&_detail{
		display: flex;
		@include sp{
			flex-wrap:wrap;
		}
	}
	&_row{
		display: flex;
		flex-wrap:wrap;
		&__img{
			width: 347px;
			@include sp{
				width: 100%;
				margin-bottom: s(20);
			}
			img{
				display: block;
			}
			.modal_open{
				position: relative;
				&:after{
					content:"";
					position: absolute;
					right:0;
					bottom:0;
					display: block;
					width: 50px;
					height: 50px;
					background: url("../img/store/voice/ico_search.svg");
				}
			}
		}
		&__cnt{
			width: calc(100% - 347px);
			padding-left: 33px;
			@include sp{
				width: 100%;
				padding-left: 0;
			}
		}
		&__col_01{
			width: 295px;	
			@include sp{
				width: 100%;
			}
		}
		&__col_02{
			display: flex;
			width: calc(100% - 295px);
			@include sp{
				display: block;
				width: 100%;
			}
		}
		&__col_03{
			width: 260px;
			@include sp{
				width: 100%;
			}			
		}
		&__col_04{
			width: 200px;
			@include sp{
				width: 100%;
			}			
		}		
		&__col_05{
			width: 205px;
			@include sp{
				width: 100%;
			}
		}
	}
	&_day{
		display: flex;
		padding-bottom: 10px;
		border-bottom:1px dashed #DCDCDC;
		@include sp{
			flex-wrap:wrap;
		}
		li{
			margin-right: 30px;
			@include sp{
				margin-bottom:s(12);
			}
		}
		&__up{
			padding-left: 18px;
			background: url("../img/store/voice/ico_update.svg") no-repeat left 3px;
		}
	}

	&_block{
		padding-top: 10px;
		border-bottom:1px dashed #DCDCDC;
	}


	&_sub{
		margin-bottom: 6px;
		font-weight: bold;
		@include sp{
			margin-bottom: s(10);
		}
	}

	&_txt_area{
		padding-top: 10px;
		line-height: 1.875;
		@include sp{
			display:none;
		}
	}

	&_info{
		padding:40px 0 50px 0;
	}

	&_qa{
		margin-bottom: 100px;
		@include sp{
			margin-bottom:s(30);
		}
		&__space_s{
			margin-bottom: 50px;
			@include sp{
				margin-bottom:s(80);
			}
		}
		&__head{
			margin-bottom: 20px;
			padding-bottom: 15px;
			border-bottom:dashed 1px #dcdcdc;
			@include sp{
				width: 100%;
			}
		}
		&__ttl{
			margin-bottom: 10px;
			padding:7px 0 7px 48px;
			background: url("../img/store/voice/ico_q.svg") no-repeat left center;
			font-weight: bold;
			font-size: 26px;
			color:$main_color;
			@include sp{
				background-position: left s(5);
				font-size: s(22);
				line-height: s(33);
			}
			&_space{
				margin-bottom: 20px;
			}
		}
		&__data{
			dl{
				margin-bottom: 20px;
			}
			dt{
				position: relative;
				margin-bottom: 10px;
				padding-left: 25px;
				color: $main_color;
				font-weight: bold;
				font-size: 18px;
				@include sp{
					align-items: flex-start;
					line-height:s(26);
					font-size: s(18);
				}
				&:before{
					content:"";
					position: absolute;
					left:0;
					top:0;
					bottom:0;
					display: inline-block;
					width: 10px;
					height: 5px;
					margin:auto 10px auto 0;
					background: $main_color;
					@include sp{
						bottom:auto;
						top:s(10);
						width: s(15);
						height: s(5);
					}
				}
			}
			dd{
				line-height:1.857;
				@include sp{
					font-size: s(14);
				}
			}
		}
		&__list{
			li{
				display: flex;
				align-items: center;
				line-height: 1.875;
				&:before{
					content:"";
					display: inline-block;
					width: 10px;
					height: 10px;
					margin-right: 7px;
					border-radius: 50%;
					background: $main_color;
				}
			}
		}
	}

	&_staff{
		display: flex;
		justify-content: space-between;
		padding:30px;
		border-radius: 20px;
		background-color: #FDFBF2 ;
		border: 2px solid #DCDCDC;
		@include sp{
			position: relative;
			padding:s(83) s(20) s(20) s(20);
		}
		&__img{
			width: 162px;
			margin-right: 30px;
			@include sp{
				position:absolute;
				top:s(-55);
				left:0;
				right:0;
				margin:auto;
				width: s(113);
				img{
					max-width: 100%;
				}
			}
		}
		&__ttl{
			margin-bottom: 15px;
			font-size: 18px;
			font-weight: bold;
			@include sp{
				margin-bottom: s(12);
				font-size: s(18);
				text-align: center;
			}
		}
		&__cnt{
			margin-bottom: 10px;
			line-height: 1.875;
		}
		&__name{
			text-align: right;
			font-size: 14px;
			@include sp{
				font-size:s(14)
			}
		}
	}


	&_nav{
		display: flex;
		justify-content: space-between;
		margin-top: 50px;
		padding: 50px 0;
		border-top:solid 1px $border_color;
		@include sp{
			margin-top:s(30);
			padding:s(30) 0;
		}
		li{
			width: 520px;
			@include sp{
				width:s(168);
			}
		}
		&__link{
			display: block;
			padding:20px;
			border: 2px solid #DCDCDC;
			border-radius: 10px;
			text-decoration: none;
			@include sp{
				padding:s(15) s(13);
			}
			dt{
				position: relative;
				margin-bottom: 5px;
				color:$main_color;
				font-weight: 400;
				@include sp{
					text-align: center;
					font-size: s(15);
				}
				&:before{
					content:"";
					display: block;
					position: absolute;
					top:5px;
					left:-12px;
					width: 4px;
					height: 7px;
					background: url("../img/store/voice/ico_pager_next.svg") no-repeat left center / cover;
				}
			}
			dd{
				margin-left: 0;
				font-size: 14px;
				line-height: 1.875;
				@include sp{
					display:none;
				}
			}
			&_prev{
				padding-left: 34px;
				@include sp{
					padding-left:s(27);
				}
				dt{
					&:before{
						transform: rotate(180deg);
					}
				}
			}
			&_next{
				padding-right: 34px;
				text-align: right;
				@include sp{
					padding-right:s(27);
					text-align: center;
				}
				dt{
					&:before{
						left:auto;
						right:-12px;
						
					}
				}
			}			
		}
	}

	&_photo{
		width: 100%;
		text-align: center;
	
	}

	&_recommend{
		margin-bottom: 30px;
	}
    
	.l_btn_more{
		display: inline-flex;
		justify-content: center;
		width: 400px;
		padding:20px 0 14px 0;
		@include sp{
			width: s(320);
		}
	}

}

//==================================================
// 404
//==================================================

.not_found{
	&_sec{
		max-width: 1100px;
		margin:70px auto 0 auto;
		padding:0  520px 50px 0;
		line-height: (30 / 16);
		@include sp{
			position: relative;
			margin-top: s(25);
			padding:0 s(15) s(260) s(15);
			line-height: s(30);
		}
	}

	&_img{
		position: relative;
		@include sp{
			position:static;
		}
		&:after{
			content:"";
			position: absolute;
			right:-520px;
			bottom:0;
			display: block;
			width: 472px;
			height: 297px;
			background: url("../img/404/img.png") no-repeat center / cover ;
			@include sp{
				right:0;
				left:0;
				bottom:s(25);
				width:s(345);
				height: s(220);
				margin:0 auto;
				background-size:contain;
			}
		}
		
	}

	&_ttl{
		margin-bottom: 15px;
		font-size: 32px;
		line-height: (42 / 32);
		font-weight: bold;
		font-family: 'M PLUS Rounded 1c', sans-serif;
		@include sp{
			margin-bottom: s(18);
			font-size:s(24);
			line-height: s(30);
		}
	}
	&_sub{
		margin-bottom: 15px;
		@include sp{
			margin-bottom:s(20);
		}
	}
	&_list{
		margin-bottom: 20px;
		@include sp{
			margin-bottom:s(20);
		}
		li{
			position: relative;
			padding-left: 18px;
			@include sp{
				padding-left:s(18);
				line-height: s(22);
			}
			&:before{
				content:"";
				position: absolute;
				left:0;
				top:12px;
				display: block;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: $main_color;
				@include sp{
					width:s(10);
					height: s(10);
					top:s(8);
				}
			}
		}	
	}
	&_txt{
		margin-bottom: 20px;
		@include sp{
			margin-bottom:s(15);
		}
	}
	&_btn_space{
		@include sp{
			text-align: center;
		}
	}
	.l_btn{
		@media (min-width: 681px){
			padding: 15px 77px 15px 52px;
		}
	}
	.l_lowerTitle{
		.l_lowerTitle__main{
			margin:32px 0;
			text-align: center;
			@include sp{
				line-height: s(48);
				margin:0;
			}
		}
	}
}

//==================================================
// case
//==================================================
.case{
	.l_cases{
		padding:0;
		margin:50px  auto 0 auto;
		@include sp{
			margin:s(30) auto 0 auto;
		}
	}
	.l_shops-pc{
		padding-bottom: 0;
	}
	.l_otherLinks{
		@include sp{
			margin:0 auto s(30) auto !important;
			padding:0;
		}
	}

	&_detail{
		.l_contact{
			margin:50px auto;
			@include sp{
				margin:30px auto;
			}
		}
	}

	&_sec{
		margin-bottom: 50px;
		@include sp{
			margin-bottom:s(30);
		}
	}
	&_lead{
		padding:70px 0 30px 0;
		text-align: center;
		@include sp{
			padding:s(50) 0  s(20) 0;
		}
		&__txt{
			padding-top: 25px;
			line-height: 1.875;
			@include sp{
				text-align: left;
			}
		}
	}
	&_top{
		display: flex;
		justify-content: center;
		width: 100%;
		padding-top: 20px;
		@include sp{
			margin-top: 0 !important;
			padding-top:0;
		}
	}
	&_ttl{
		max-width: 900px;
		margin:40px auto 30px auto;
		@include sp{
			margin:s(30) auto s(30) auto;
			padding:0 4vw;
		}
		&__day{
			display: block;
			margin-bottom: 5px;
			font-size: 18px;
			color:#B4B4B4;
			font-weight: 400;
			@include sp{
				margin-bottom: s(12);
				font-size:s(18);
			}
		}
		&__txt{
			font-size: 32px;
			line-height: (42 / 32);
			@include sp{
				font-size:s(24);
			}
		}
	}
	&_before_after{
		margin-bottom: 50px;
		@include sp{
			margin-bottom:s(30);
		}
	}
	&_row{
		display: flex;
		justify-content: space-between;
		//align-items: center;
		margin-bottom: 10px;
		@include sp{
			flex-wrap:wrap;
			margin-bottom: s(20);
			padding-bottom: s(20);
			border-bottom:solid 1px #D8D8D8;
		}
		&:last-child{
			margin-bottom: 0;
			@include sp{
				margin-bottom: 0;
				padding-bottom: 0;
				border:none;
			}
		}
		
	

	}
	&_unit{
		width: 395px;
		padding:5px 5px 16px 5px;
		border-radius: 20px;
		@include sp{
			position: relative;
			display: flex;
			padding:s(5) s(5) s(5) s(161);
			border-radius: s(15);
		}
		$img : s(10);
		&__img{
			display: block;	
			
			@include sp{
				position: absolute;
				left:s(5);
				width:s(156);
				height:calc(100% - #{$img});
			}
			img{
				border-radius: 20px 20px 0 0;
				object-fit: cover;
				width: 100%;
				height: 216px;
				@include sp{
					object-fit: cover;
					height: 100%;
					border-radius:s(15);
				}
			}
		}
		&__data{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding:0 10px;
			@include sp{
				width:s(180);
				padding:s(5) s(5) s(5) s(8);
				align-items: flex-start;	
			}
			dd{
				width: 100%;
				margin-left:0;
			}
		
		}
		&__ttl{
			position: relative;
			top:-10px;
			padding:2px 5px;
			font-size: 28px;
			@include sp{
				top:0;
				margin-bottom: s(5);
				padding:0;
				font-size: s(18);
			}
			
		}
	
		&__txt{
			line-height: (21 / 14);
			font-size: 14px;
			@include sp{
				font-size:s(14);
			}
		}
	}
	
	&_unit.case_bg_01{
		background: #e6e6e6;
	}
	&_unit.case_bg_01 &_unit__ttl{
		background: #e6e6e6;
		color:#919191;
	}	
	&_unit.case_bg_02{
		background: $main_color;
		color:#fff;
	}
	&_unit.case_bg_02 &_unit__ttl{
		background: #FFD800;
		color:#000;
		@include sp{
			padding:s(2) s(5);
		}
	}	

	&_arrow{
		align-self: center;
		display: flex;
		align-items: center;
		width: 82px;
		height: 110px;
		margin-left: 5px;
		padding-left: 10px;
		background: url("../img/case/sample/after_arrow.svg") no-repeat center;
		color:#fff;
		font-size: 20px;
		font-weight: 400; 
		@include sp{
			position: relative;
			z-index:2;
			justify-content: center;
			width: s(65);
			height: s(50);
			margin:s(-20) 0 s(-20) s(50);
			padding: 0 0 s(5) 0 ;
			font-size:s(14);
			background: url("../img/case/sample/sp_after_arrow.svg") no-repeat center / contain;
			
		}
	}

	&_info{
		display: flex;
		justify-content: space-between;
		padding-top: 10px;
		border-top:solid 1px #DCDCDC;
		@include sp{
			display:block;
		}
		&__col{
			width: calc(50% - 15px);
			@include sp{
				width: 100%;
				margin-bottom: s(15);
			}

		}
		&__row{
			display: flex;
			justify-content: space-between;
			@include sp{
				flex-wrap:wrap;
			
			}
		}

	}
	&_sp_row{
		@include sp{
			display:flex;
			justify-content: space-between;
			margin-bottom: 0;
			&__col{
				width:s(165);
			}			
		}
	}
	&_data{
		font-size: 14px;
		
		> dt{
			border-radius: 3px;
			padding:8px 10px 7px 10px;
			background: #F4F4F4;
			font-weight: 400;
			@include sp{
				display: flex;
				justify-content: center;
				align-items: center;
				width:100%;
				padding:s(5) 10px ;
				line-height: 1.3;
			}
			
		}
		> dd{
			margin-left: 0;
			padding:12px 10px 20px 10px;
			@include sp{
		
				padding:s(5) s(10) s(4) s(10);
			}
		}
		&_sp_row{
			@include sp{
				display: flex;
				margin-bottom: 5px;
				dt{
					width: s(118);
				}
			}
		}
	}

	&_num{
		display: flex;
		justify-content: space-between;
		align-items: center;
		&_line{
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom:dashed 1px #DCDCDC;
			@include sp{
				margin-bottom:s(10);
				padding-bottom:s(10);
			}
		}
		&__ico{
			width: 45px;
			@include sp{
				width:s(45);
			}
		}
		&__txt{
			display: block;
		}
		&__item{
			font-size: 28px;
			@include sp{
				font-size:s(24);
			}
		}
	}
	&_persons{
		li{
			margin-bottom: 10px;
			font-size: 12px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&_price{
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: url("../img/case/sample/ico_money.svg") no-repeat left center;
		padding:6px 0 8px 65px;
		color:#EB6D4E;
		line-height: 1;
		@include sp{
			margin-bottom: s(10);
			padding:s(8) 0 s(8) s(65);
		}
		&__ttl{
			font-size: 20px;
			@include sp{
				font-size:s(20);
			}
		}
		&__body{
			margin-left: 0;
			font-size: 30px;
		}
		&__num{
			font-size: 30px;
			@include sp{
				font-size:s(30);
			}
		}
		&__yen{
			font-size: 16px;
			@include sp{
				font-size:s(16);
			}
		}
		&__tax{
			font-size: 12px;
			@include sp{
				font-size:s(12);
			}			
		}
	}
	&_box{
		border: 1px solid #DEDEDE;
		&__ttl{
			padding:15px 20px; 
			background: #F7F3E5;
			@include sp{
				padding:s(14) s(20) s(15) s(20);
			}
		}
		&__num{
			font-size: 20px;
			@include sp{
				font-size:s(20);
			}
		}
		&__body{
			padding:15px 15px 20px 15px;
			@include sp{
				padding:s(15);
			}
		}
		&__data{
			dt{
				margin-bottom: 8px;
				@include sp{
					margin-bottom:s(8);
				}
			}
			dd{
				margin-left: 0;
			}
		}
	}

	&_body{
		margin-bottom: 50px;
		padding-bottom: 50px;
		border-bottom:solid 1px #dcdcdc;
		@include sp{
			margin-bottom: s(30);
			padding-bottom: s(30);
		}
		&__ttl{
			position: relative;
			max-width: 900px;
			margin:0 auto 20px auto;
			padding:15px 0 15px 20px;
			background: #F3F3F3;
			font-size: 26px;
			font-weight: 700;
			@include sp{
				margin-bottom: s(18);
				font-size:s(24);
				padding:s(15) 0 s(15) s(20);
				line-height: 1.45;
			}
			&:before{
				content:"";
				position: absolute;
				left:0;
				top:0;
				bottom:0;
				display: block;
				height: 45px;
				margin:auto;
				border-left:solid 5px $main_color
			}
		}
		&__sub{
			position: relative;
			margin-bottom: 20px;
			padding-left: 20px;
			font-size: 22px;
			font-weight: 700;
			@include sp{
				margin-bottom: s(18);
				font-size:s(18);
				line-height: 1.45;
			}
			&:before{
				content:"";
				display: block;
				position: absolute;
				left:0;
				top:0;
				bottom:0;
				height: 35px;
				border-left:solid 5px $main_color;
				margin:auto;
			}
		}		
	}

	&_contents{
		margin-bottom: 50px;
		@include sp{
			margin-bottom:s(80);
		}
		p{
			margin-bottom: 30px;
			line-height: (30 / 16);

		}


	}

	&_img_unit{
		display: flex;
		justify-content: space-between;
		margin-bottom: 50px;
		@include sp{
			flex-wrap:wrap;
			margin-bottom: s(30);
		}
		&__left{
			width: 400px;
			margin:0 20px 20px 0;
			@include sp{
				width: 100%;
				margin:0 auto s(20) auto;
			}
		}
		&__right{
			width:calc(100% - 400px);
			margin-top: -4px;
			@include sp{
				width: 100%;
				margin-top: 0;
			}
		}
		p{
			margin-bottom: 0;
		}
		img{
			max-width: 100%;
		}
	}

	&_staff{
		display: flex;
		padding:30px;
		border:solid 2px #dcdcdc;
		border-radius: 20px;
		background: #FDFBF2 ;
		@include sp{
			position: relative;
			flex-wrap:wrap;
			padding: s(86) s(20) s(20) s(20);
			border-radius: s(20);
		}
		&__img{
			width: 156px;
			text-align: center;
			@include sp{
				position: absolute;
				top:s(-50);
				display: flex;
				align-items: flex-end;
				width: 100%;
				
			}
			img{
				display: block;
				max-width: 100%;
				margin-bottom: 15px;
				@include sp{
					width:s(113);
					margin-bottom: 0;
				}
			}
		}
		&__person{
			@include sp{
				padding:0 0 s(20) s(10);
				font-size: s(14);
			}
		}
		&__body{
			width:calc(100% - 156px);
			padding-left: 30px;
			@include sp{
				width: 100%;
				padding-left: 0;
			}
			dt{
				margin-bottom: 10px;
				font-weight: 700;
				font-size: 18px;
			}
			dd{
				margin-left:0;
				font-size: 16px;
				line-height: (30 / 16);
			}
		}
	}

	&_btn_space{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding:50px 0;
		@include sp{
			padding:s(30) 0;
		}
	}

	&_shop_txt{
		padding:30px 0;
		line-height: (30 / 16);
	}

}