.font-maru {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.font-osw {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

.qa_inner {
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 680px) {
  .qa_inner {
    padding: 0 4vw;
  }
}

.qa_lead {
  padding: 0 0 50px 0;
}

@media (max-width: 680px) {
  .qa_lead {
    padding: 0 0 8vw 0;
  }
}

.qa_lead__txt {
  padding: 25px 0;
  line-height: 1.875;
}

@media (max-width: 680px) {
  .qa_lead__txt {
    padding: 5.33333vw 0 4.8vw 0;
  }
}

.qa_bg {
  padding: 70px 0 52px 0;
  background: #F7F3E5;
}

@media (max-width: 680px) {
  .qa_bg {
    padding: 13.33333vw 0 8.53333vw 0;
  }
}

.qa_bg_low_space {
  padding: 52px 0;
}

@media (max-width: 680px) {
  .qa_bg_low_space {
    padding: 13.33333vw 0 8.53333vw 0;
  }
}

.qa_sec {
  margin-bottom: 75px;
}

@media (max-width: 680px) {
  .qa_sec {
    margin-bottom: 13.33333vw;
  }
}

.qa_sec:last-child {
  margin-bottom: 0;
}

.qa_ttl {
  margin-bottom: 30px;
  padding-bottom: 28px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: normal;
  border-bottom: dashed 1px #03A58E;
}

@media (max-width: 680px) {
  .qa_ttl {
    padding-bottom: 4vw;
    margin-bottom: 5.33333vw;
    font-size: 6.4vw;
    border-width: 0.26667vw;
  }
}

.qa_list li {
  margin-bottom: 10px;
}

.qa_list li:last-child {
  margin-bottom: 0;
}

.qa_link {
  display: flex;
  align-items: center;
  min-height: 100px;
  padding: 20px 70px 20px 95px;
  background-color: #fff;
  background-image: url("../img/qa/ico_q.svg"), url("../img/qa/ico_link.svg");
  background-repeat: no-repeat,no-repeat;
  background-position: 20px center, calc(100% - 20px) center;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.666;
  border-radius: 10px;
}

@media (max-width: 680px) {
  .qa_link {
    padding: 4vw 12.53333vw 4vw 17.33333vw;
    border-radius: 2.66667vw;
    font-size: 4.8vw;
    background-size: 10.66667vw auto, 4.53333vw 4.53333vw;
    background-position: 4vw 4vw, 95% 8.26667vw;
  }
}

.qa_retrun {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 50px 0;
}

@media (max-width: 680px) {
  .qa_retrun {
    padding: 0 0 8vw 0;
  }
}

@media (max-width: 680px) {
  .qa_retrun__home.l_btn_home {
    margin-top: 15px;
  }
}

.qa_retrun__shop.l_btn_more {
  padding: 20px 105px 14px 80px;
}

.qa_single {
  padding: 30px 0 0 0;
}

@media (max-width: 680px) {
  .qa_single {
    padding: 4vw 0 0 0;
  }
}

.qa_single__inner {
  max-width: 900px;
  margin: 0 auto;
}

@media (max-width: 680px) {
  .qa_single__inner {
    padding: 0 4vw;
  }
}

.qa_single__ttl {
  margin-bottom: 25px;
  padding-left: 75px;
  background: url("../img/qa/ico_q.svg") no-repeat left top;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.3125;
}

@media (max-width: 680px) {
  .qa_single__ttl {
    margin-bottom: 4vw;
    padding-left: 13.33333vw;
    font-size: 4.8vw;
    line-height: 1.666;
    background-size: 10.66667vw 10.66667vw;
    background-position: left 1.33333vw;
  }
}

.qa_single__box {
  margin-bottom: 50px;
  padding-bottom: 45px;
  border-bottom: solid 1px #DCDCDC;
  line-height: 1.875;
}

@media (max-width: 680px) {
  .qa_single__box {
    margin-bottom: 8vw;
    padding-bottom: 8vw;
  }
}

.qa_single__row {
  display: flex;
  margin-bottom: 40px;
}

@media (max-width: 680px) {
  .qa_single__row {
    flex-wrap: wrap;
    margin-bottom: 7.46667vw;
  }
}

.qa_single__img {
  margin: 10px 20px 20px 0;
}

@media (max-width: 680px) {
  .qa_single__img {
    margin: 0 0 4.8vw 0;
  }
}

.qa_single__img img {
  display: block;
}

@media (max-width: 680px) {
  .qa_single__img img {
    max-width: 100%;
  }
}

.qa_single__retrun.l_btn_more {
  padding: 22px 90px 19px 65px;
}

@media (max-width: 680px) {
  .qa_single__retrun.l_btn_more {
    padding: 5.86667vw 8.8vw 5.06667vw 6.66667vw;
  }
}

.qa_single__retrun.l_btn_more .l_btn_more__wrap {
  display: inline-block;
}

.qa_single__retrun.l_btn_more .icon-arrow {
  right: -30px;
}

@media (max-width: 680px) {
  .qa_single__retrun.l_btn_more .icon-arrow {
    right: -5.86667vw;
  }
}

.qa_single_sec {
  margin-bottom: 52px;
}

.qa_no_bg.city__menu {
  padding: 80px 0 0 0;
  background: #fff;
}

@media (max-width: 680px) {
  .qa_no_bg.city__menu {
    padding: 10.66667vw 0 0 0;
  }
}

.qa_space.l_otherLinks {
  margin: 40px auto 20px auto;
}

@media (max-width: 680px) {
  .qa_space.l_otherLinks {
    margin: 6.66667vw auto 1.33333vw auto;
  }
}

.voice_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.voice_list li {
  margin-bottom: 10px;
}

.voice_data {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
}

@media (max-width: 680px) {
  .voice_data {
    width: 100%;
    margin-bottom: 1.33333vw;
    font-size: 3.73333vw;
  }
}

@media (max-width: 680px) {
  .voice_data__single {
    margin-bottom: 2.66667vw;
  }
}

.voice_data__ttl {
  width: 118px;
  padding: 8px 3px;
  border-radius: 3px;
  background: #F4F4F4;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 680px) {
  .voice_data__ttl {
    width: 31.46667vw;
  }
}

.voice_data__ttl_fit {
  width: auto;
  min-width: 3em;
}

.voice_data__txt {
  margin-left: 0;
  padding-left: 10px;
}

.voice_unit {
  display: block;
  width: 545px;
  padding: 20px;
  border: solid 2px #DCDCDC;
  border-radius: 10px;
  background: #fff;
  text-decoration: none;
}

@media (max-width: 680px) {
  .voice_unit {
    width: 100%;
    padding: 4vw;
  }
}

.voice_unit__head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: dashed #DCDCDC 1px;
}

@media (max-width: 680px) {
  .voice_unit__head {
    flex-wrap: wrap;
  }
}

.voice_unit__col_01 {
  display: flex;
  justify-content: space-between;
  width: 270px;
}

@media (max-width: 680px) {
  .voice_unit__col_01 {
    flex-wrap: wrap;
    width: 100%;
  }
}

.voice_unit__col_02 {
  display: flex;
  justify-content: space-between;
  width: 230px;
}

@media (max-width: 680px) {
  .voice_unit__col_02 {
    flex-wrap: wrap;
    width: 100%;
  }
}

.voice_unit__body {
  position: relative;
  display: flex;
  padding-top: 10px;
}

@media (max-width: 680px) {
  .voice_unit__body {
    flex-wrap: wrap;
  }
}

.voice_unit__body_left {
  width: 130px;
}

@media (max-width: 680px) {
  .voice_unit__body_left {
    width: 21.86667vw;
  }
}

.voice_unit__body_left img {
  max-width: 100%;
  border: solid 1px #0F7893;
}

.voice_unit__body_right {
  width: calc(100% - 130px);
  padding: 0 0 20px 15px;
}

@media (max-width: 680px) {
  .voice_unit__body_right {
    width: calc(100% - 21.86667vw);
    padding: 0 0 0 2.13333vw;
  }
}

.voice_unit__name {
  margin-bottom: 5px;
  font-size: 14px;
}

.voice_unit__ttl {
  color: #03A58E;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.66;
}

@media (max-width: 680px) {
  .voice_unit__ttl {
    font-size: 4.8vw;
  }
}

.voice_unit__txt {
  line-height: 1.875;
}

@media (max-width: 680px) {
  .voice_unit__txt {
    width: 100%;
    padding-bottom: 4vw;
    font-size: 4.26667vw;
  }
}

.voice_unit__more {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px 22px 3px 0;
  background: url("../img/store/voice/ico_arrow.svg") no-repeat right center;
  text-align: right;
  font-size: 14px;
}

@media (max-width: 680px) {
  .voice_unit__more {
    font-size: 3.73333vw;
  }
}

@media (max-width: 680px) {
  .voice_unit__star {
    width: 4vw;
    margin-right: 0.8vw;
  }
}

.voice .l_btnlist {
  margin-bottom: 50px;
}

@media (max-width: 680px) {
  .voice .l_btnlist {
    margin-bottom: 8vw;
  }
}

.voice_ttl {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.3125;
}

@media (max-width: 680px) {
  .voice_ttl {
    margin-bottom: 13.33333vw;
    font-size: 6.4vw;
  }
}

.voice_ttl__name {
  display: block;
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 680px) {
  .voice_ttl__name {
    font-size: 4.26667vw;
  }
}

.voice_detail {
  display: flex;
}

@media (max-width: 680px) {
  .voice_detail {
    flex-wrap: wrap;
  }
}

.voice_row {
  display: flex;
  flex-wrap: wrap;
}

.voice_row__img {
  width: 347px;
}

@media (max-width: 680px) {
  .voice_row__img {
    width: 100%;
    margin-bottom: 5.33333vw;
  }
}

.voice_row__img img {
  display: block;
}

.voice_row__img .modal_open {
  position: relative;
}

.voice_row__img .modal_open:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 50px;
  height: 50px;
  background: url("../img/store/voice/ico_search.svg");
}

.voice_row__cnt {
  width: calc(100% - 347px);
  padding-left: 33px;
}

@media (max-width: 680px) {
  .voice_row__cnt {
    width: 100%;
    padding-left: 0;
  }
}

.voice_row__col_01 {
  width: 295px;
}

@media (max-width: 680px) {
  .voice_row__col_01 {
    width: 100%;
  }
}

.voice_row__col_02 {
  display: flex;
  width: calc(100% - 295px);
}

@media (max-width: 680px) {
  .voice_row__col_02 {
    display: block;
    width: 100%;
  }
}

.voice_row__col_03 {
  width: 260px;
}

@media (max-width: 680px) {
  .voice_row__col_03 {
    width: 100%;
  }
}

.voice_row__col_04 {
  width: 200px;
}

@media (max-width: 680px) {
  .voice_row__col_04 {
    width: 100%;
  }
}

.voice_row__col_05 {
  width: 205px;
}

@media (max-width: 680px) {
  .voice_row__col_05 {
    width: 100%;
  }
}

.voice_day {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px dashed #DCDCDC;
}

@media (max-width: 680px) {
  .voice_day {
    flex-wrap: wrap;
  }
}

.voice_day li {
  margin-right: 30px;
}

@media (max-width: 680px) {
  .voice_day li {
    margin-bottom: 3.2vw;
  }
}

.voice_day__up {
  padding-left: 18px;
  background: url("../img/store/voice/ico_update.svg") no-repeat left 3px;
}

.voice_block {
  padding-top: 10px;
  border-bottom: 1px dashed #DCDCDC;
}

.voice_sub {
  margin-bottom: 6px;
  font-weight: bold;
}

@media (max-width: 680px) {
  .voice_sub {
    margin-bottom: 2.66667vw;
  }
}

.voice_txt_area {
  padding-top: 10px;
  line-height: 1.875;
}

@media (max-width: 680px) {
  .voice_txt_area {
    display: none;
  }
}

.voice_info {
  padding: 40px 0 50px 0;
}

.voice_qa {
  margin-bottom: 100px;
}

@media (max-width: 680px) {
  .voice_qa {
    margin-bottom: 8vw;
  }
}

.voice_qa__space_s {
  margin-bottom: 50px;
}

@media (max-width: 680px) {
  .voice_qa__space_s {
    margin-bottom: 21.33333vw;
  }
}

.voice_qa__head {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: dashed 1px #dcdcdc;
}

@media (max-width: 680px) {
  .voice_qa__head {
    width: 100%;
  }
}

.voice_qa__ttl {
  margin-bottom: 10px;
  padding: 7px 0 7px 48px;
  background: url("../img/store/voice/ico_q.svg") no-repeat left center;
  font-weight: bold;
  font-size: 26px;
  color: #03A58E;
}

@media (max-width: 680px) {
  .voice_qa__ttl {
    background-position: left 1.33333vw;
    font-size: 5.86667vw;
    line-height: 8.8vw;
  }
}

.voice_qa__ttl_space {
  margin-bottom: 20px;
}

.voice_qa__data dl {
  margin-bottom: 20px;
}

.voice_qa__data dt {
  position: relative;
  margin-bottom: 10px;
  padding-left: 25px;
  color: #03A58E;
  font-weight: bold;
  font-size: 18px;
}

@media (max-width: 680px) {
  .voice_qa__data dt {
    align-items: flex-start;
    line-height: 6.93333vw;
    font-size: 4.8vw;
  }
}

.voice_qa__data dt:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: inline-block;
  width: 10px;
  height: 5px;
  margin: auto 10px auto 0;
  background: #03A58E;
}

@media (max-width: 680px) {
  .voice_qa__data dt:before {
    bottom: auto;
    top: 2.66667vw;
    width: 4vw;
    height: 1.33333vw;
  }
}

.voice_qa__data dd {
  line-height: 1.857;
}

@media (max-width: 680px) {
  .voice_qa__data dd {
    font-size: 3.73333vw;
  }
}

.voice_qa__list li {
  display: flex;
  align-items: center;
  line-height: 1.875;
}

.voice_qa__list li:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 7px;
  border-radius: 50%;
  background: #03A58E;
}

.voice_staff {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-radius: 20px;
  background-color: #FDFBF2;
  border: 2px solid #DCDCDC;
}

@media (max-width: 680px) {
  .voice_staff {
    position: relative;
    padding: 22.13333vw 5.33333vw 5.33333vw 5.33333vw;
  }
}

.voice_staff__img {
  width: 162px;
  margin-right: 30px;
}

@media (max-width: 680px) {
  .voice_staff__img {
    position: absolute;
    top: -14.66667vw;
    left: 0;
    right: 0;
    margin: auto;
    width: 30.13333vw;
  }
  .voice_staff__img img {
    max-width: 100%;
  }
}

.voice_staff__ttl {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 680px) {
  .voice_staff__ttl {
    margin-bottom: 3.2vw;
    font-size: 4.8vw;
    text-align: center;
  }
}

.voice_staff__cnt {
  margin-bottom: 10px;
  line-height: 1.875;
}

.voice_staff__name {
  text-align: right;
  font-size: 14px;
}

@media (max-width: 680px) {
  .voice_staff__name {
    font-size: 3.73333vw;
  }
}

.voice_nav {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 50px 0;
  border-top: solid 1px #DCDCDC;
}

@media (max-width: 680px) {
  .voice_nav {
    margin-top: 8vw;
    padding: 8vw 0;
  }
}

.voice_nav li {
  width: 520px;
}

@media (max-width: 680px) {
  .voice_nav li {
    width: 44.8vw;
  }
}

.voice_nav__link {
  display: block;
  padding: 20px;
  border: 2px solid #DCDCDC;
  border-radius: 10px;
  text-decoration: none;
}

@media (max-width: 680px) {
  .voice_nav__link {
    padding: 4vw 3.46667vw;
  }
}

.voice_nav__link dt {
  position: relative;
  margin-bottom: 5px;
  color: #03A58E;
  font-weight: 400;
}

@media (max-width: 680px) {
  .voice_nav__link dt {
    text-align: center;
    font-size: 4vw;
  }
}

.voice_nav__link dt:before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: -12px;
  width: 4px;
  height: 7px;
  background: url("../img/store/voice/ico_pager_next.svg") no-repeat left center/cover;
}

.voice_nav__link dd {
  margin-left: 0;
  font-size: 14px;
  line-height: 1.875;
}

@media (max-width: 680px) {
  .voice_nav__link dd {
    display: none;
  }
}

.voice_nav__link_prev {
  padding-left: 34px;
}

@media (max-width: 680px) {
  .voice_nav__link_prev {
    padding-left: 7.2vw;
  }
}

.voice_nav__link_prev dt:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.voice_nav__link_next {
  padding-right: 34px;
  text-align: right;
}

@media (max-width: 680px) {
  .voice_nav__link_next {
    padding-right: 7.2vw;
    text-align: center;
  }
}

.voice_nav__link_next dt:before {
  left: auto;
  right: -12px;
}

.voice_photo {
  width: 100%;
  text-align: center;
}

.voice_recommend {
  margin-bottom: 30px;
}

.voice .l_btn_more {
  display: inline-flex;
  justify-content: center;
  width: 400px;
  padding: 20px 0 14px 0;
}

@media (max-width: 680px) {
  .voice .l_btn_more {
    width: 85.33333vw;
  }
}

.not_found_sec {
  max-width: 1100px;
  margin: 70px auto 0 auto;
  padding: 0  520px 50px 0;
  line-height: 1.875;
}

@media (max-width: 680px) {
  .not_found_sec {
    position: relative;
    margin-top: 6.66667vw;
    padding: 0 4vw 69.33333vw 4vw;
    line-height: 8vw;
  }
}

.not_found_img {
  position: relative;
}

@media (max-width: 680px) {
  .not_found_img {
    position: static;
  }
}

.not_found_img:after {
  content: "";
  position: absolute;
  right: -520px;
  bottom: 0;
  display: block;
  width: 472px;
  height: 297px;
  background: url("../img/404/img.png") no-repeat center/cover;
}

@media (max-width: 680px) {
  .not_found_img:after {
    right: 0;
    left: 0;
    bottom: 6.66667vw;
    width: 92vw;
    height: 58.66667vw;
    margin: 0 auto;
    background-size: contain;
  }
}

.not_found_ttl {
  margin-bottom: 15px;
  font-size: 32px;
  line-height: 1.3125;
  font-weight: bold;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

@media (max-width: 680px) {
  .not_found_ttl {
    margin-bottom: 4.8vw;
    font-size: 6.4vw;
    line-height: 8vw;
  }
}

.not_found_sub {
  margin-bottom: 15px;
}

@media (max-width: 680px) {
  .not_found_sub {
    margin-bottom: 5.33333vw;
  }
}

.not_found_list {
  margin-bottom: 20px;
}

@media (max-width: 680px) {
  .not_found_list {
    margin-bottom: 5.33333vw;
  }
}

.not_found_list li {
  position: relative;
  padding-left: 18px;
}

@media (max-width: 680px) {
  .not_found_list li {
    padding-left: 4.8vw;
    line-height: 5.86667vw;
  }
}

.not_found_list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #03A58E;
}

@media (max-width: 680px) {
  .not_found_list li:before {
    width: 2.66667vw;
    height: 2.66667vw;
    top: 2.13333vw;
  }
}

.not_found_txt {
  margin-bottom: 20px;
}

@media (max-width: 680px) {
  .not_found_txt {
    margin-bottom: 4vw;
  }
}

@media (max-width: 680px) {
  .not_found_btn_space {
    text-align: center;
  }
}

@media (min-width: 681px) {
  .not_found .l_btn {
    padding: 15px 77px 15px 52px;
  }
}

.not_found .l_lowerTitle .l_lowerTitle__main {
  margin: 32px 0;
  text-align: center;
}

@media (max-width: 680px) {
  .not_found .l_lowerTitle .l_lowerTitle__main {
    line-height: 12.8vw;
    margin: 0;
  }
}

.case .l_cases {
  padding: 0;
  margin: 50px  auto 0 auto;
}

@media (max-width: 680px) {
  .case .l_cases {
    margin: 8vw auto 0 auto;
  }
}

.case .l_shops-pc {
  padding-bottom: 0;
}

@media (max-width: 680px) {
  .case .l_otherLinks {
    margin: 0 auto 8vw auto !important;
    padding: 0;
  }
}

.case_detail .l_contact {
  margin: 50px auto;
}

@media (max-width: 680px) {
  .case_detail .l_contact {
    margin: 30px auto;
  }
}

.case_sec {
  margin-bottom: 50px;
}

@media (max-width: 680px) {
  .case_sec {
    margin-bottom: 8vw;
  }
}

.case_lead {
  padding: 70px 0 30px 0;
  text-align: center;
}

@media (max-width: 680px) {
  .case_lead {
    padding: 13.33333vw 0 5.33333vw 0;
  }
}

.case_lead__txt {
  padding-top: 25px;
  line-height: 1.875;
}

@media (max-width: 680px) {
  .case_lead__txt {
    text-align: left;
  }
}

.case_top {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

@media (max-width: 680px) {
  .case_top {
    margin-top: 0 !important;
    padding-top: 0;
  }
}

.case_ttl {
  max-width: 900px;
  margin: 40px auto 30px auto;
}

@media (max-width: 680px) {
  .case_ttl {
    margin: 8vw auto 8vw auto;
    padding: 0 4vw;
  }
}

.case_ttl__day {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  color: #B4B4B4;
  font-weight: 400;
}

@media (max-width: 680px) {
  .case_ttl__day {
    margin-bottom: 3.2vw;
    font-size: 4.8vw;
  }
}

.case_ttl__txt {
  font-size: 32px;
  line-height: 1.3125;
}

@media (max-width: 680px) {
  .case_ttl__txt {
    font-size: 6.4vw;
  }
}

.case_before_after {
  margin-bottom: 50px;
}

@media (max-width: 680px) {
  .case_before_after {
    margin-bottom: 8vw;
  }
}

.case_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

@media (max-width: 680px) {
  .case_row {
    flex-wrap: wrap;
    margin-bottom: 5.33333vw;
    padding-bottom: 5.33333vw;
    border-bottom: solid 1px #D8D8D8;
  }
}

.case_row:last-child {
  margin-bottom: 0;
}

@media (max-width: 680px) {
  .case_row:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: none;
  }
}

.case_unit {
  width: 395px;
  padding: 5px 5px 16px 5px;
  border-radius: 20px;
}

@media (max-width: 680px) {
  .case_unit {
    position: relative;
    display: flex;
    padding: 1.33333vw 1.33333vw 1.33333vw 42.93333vw;
    border-radius: 4vw;
  }
}

.case_unit__img {
  display: block;
}

@media (max-width: 680px) {
  .case_unit__img {
    position: absolute;
    left: 1.33333vw;
    width: 41.6vw;
    height: calc(100% - 2.66667vw);
  }
}

.case_unit__img img {
  border-radius: 20px 20px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 216px;
}

@media (max-width: 680px) {
  .case_unit__img img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    border-radius: 4vw;
  }
}

.case_unit__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

@media (max-width: 680px) {
  .case_unit__data {
    width: 48vw;
    padding: 1.33333vw 1.33333vw 1.33333vw 2.13333vw;
    align-items: flex-start;
  }
}

.case_unit__data dd {
  width: 100%;
  margin-left: 0;
}

.case_unit__ttl {
  position: relative;
  top: -10px;
  padding: 2px 5px;
  font-size: 28px;
}

@media (max-width: 680px) {
  .case_unit__ttl {
    top: 0;
    margin-bottom: 1.33333vw;
    padding: 0;
    font-size: 4.8vw;
  }
}

.case_unit__txt {
  line-height: 1.5;
  font-size: 14px;
}

@media (max-width: 680px) {
  .case_unit__txt {
    font-size: 3.73333vw;
  }
}

.case_unit.case_bg_01 {
  background: #e6e6e6;
}

.case_unit.case_bg_01 .case_unit__ttl {
  background: #e6e6e6;
  color: #919191;
}

.case_unit.case_bg_02 {
  background: #03A58E;
  color: #fff;
}

.case_unit.case_bg_02 .case_unit__ttl {
  background: #FFD800;
  color: #000;
}

@media (max-width: 680px) {
  .case_unit.case_bg_02 .case_unit__ttl {
    padding: 0.53333vw 1.33333vw;
  }
}

.case_arrow {
  align-self: center;
  display: flex;
  align-items: center;
  width: 82px;
  height: 110px;
  margin-left: 5px;
  padding-left: 10px;
  background: url("../img/case/sample/after_arrow.svg") no-repeat center;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 680px) {
  .case_arrow {
    position: relative;
    z-index: 2;
    justify-content: center;
    width: 17.33333vw;
    height: 13.33333vw;
    margin: -5.33333vw 0 -5.33333vw 13.33333vw;
    padding: 0 0 1.33333vw 0;
    font-size: 3.73333vw;
    background: url("../img/case/sample/sp_after_arrow.svg") no-repeat center/contain;
  }
}

.case_info {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  border-top: solid 1px #DCDCDC;
}

@media (max-width: 680px) {
  .case_info {
    display: block;
  }
}

.case_info__col {
  width: calc(50% - 15px);
}

@media (max-width: 680px) {
  .case_info__col {
    width: 100%;
    margin-bottom: 4vw;
  }
}

.case_info__row {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 680px) {
  .case_info__row {
    flex-wrap: wrap;
  }
}

@media (max-width: 680px) {
  .case_sp_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .case_sp_row__col {
    width: 44vw;
  }
}

.case_data {
  font-size: 14px;
}

.case_data > dt {
  border-radius: 3px;
  padding: 8px 10px 7px 10px;
  background: #F4F4F4;
  font-weight: 400;
}

@media (max-width: 680px) {
  .case_data > dt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.33333vw 10px;
    line-height: 1.3;
  }
}

.case_data > dd {
  margin-left: 0;
  padding: 12px 10px 20px 10px;
}

@media (max-width: 680px) {
  .case_data > dd {
    padding: 1.33333vw 2.66667vw 1.06667vw 2.66667vw;
  }
}

@media (max-width: 680px) {
  .case_data_sp_row {
    display: flex;
    margin-bottom: 5px;
  }
  .case_data_sp_row dt {
    width: 31.46667vw;
  }
}

.case_num {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.case_num_line {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: dashed 1px #DCDCDC;
}

@media (max-width: 680px) {
  .case_num_line {
    margin-bottom: 2.66667vw;
    padding-bottom: 2.66667vw;
  }
}

.case_num__ico {
  width: 45px;
}

@media (max-width: 680px) {
  .case_num__ico {
    width: 12vw;
  }
}

.case_num__txt {
  display: block;
}

.case_num__item {
  font-size: 28px;
}

@media (max-width: 680px) {
  .case_num__item {
    font-size: 6.4vw;
  }
}

.case_persons li {
  margin-bottom: 10px;
  font-size: 12px;
}

.case_persons li:last-child {
  margin-bottom: 0;
}

.case_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("../img/case/sample/ico_money.svg") no-repeat left center;
  padding: 6px 0 8px 65px;
  color: #EB6D4E;
  line-height: 1;
}

@media (max-width: 680px) {
  .case_price {
    margin-bottom: 2.66667vw;
    padding: 2.13333vw 0 2.13333vw 17.33333vw;
  }
}

.case_price__ttl {
  font-size: 20px;
}

@media (max-width: 680px) {
  .case_price__ttl {
    font-size: 5.33333vw;
  }
}

.case_price__body {
  margin-left: 0;
  font-size: 30px;
}

.case_price__num {
  font-size: 30px;
}

@media (max-width: 680px) {
  .case_price__num {
    font-size: 8vw;
  }
}

.case_price__yen {
  font-size: 16px;
}

@media (max-width: 680px) {
  .case_price__yen {
    font-size: 4.26667vw;
  }
}

.case_price__tax {
  font-size: 12px;
}

@media (max-width: 680px) {
  .case_price__tax {
    font-size: 3.2vw;
  }
}

.case_box {
  border: 1px solid #DEDEDE;
}

.case_box__ttl {
  padding: 15px 20px;
  background: #F7F3E5;
}

@media (max-width: 680px) {
  .case_box__ttl {
    padding: 3.73333vw 5.33333vw 4vw 5.33333vw;
  }
}

.case_box__num {
  font-size: 20px;
}

@media (max-width: 680px) {
  .case_box__num {
    font-size: 5.33333vw;
  }
}

.case_box__body {
  padding: 15px 15px 20px 15px;
}

@media (max-width: 680px) {
  .case_box__body {
    padding: 4vw;
  }
}

.case_box__data dt {
  margin-bottom: 8px;
}

@media (max-width: 680px) {
  .case_box__data dt {
    margin-bottom: 2.13333vw;
  }
}

.case_box__data dd {
  margin-left: 0;
}

.case_body {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: solid 1px #dcdcdc;
}

@media (max-width: 680px) {
  .case_body {
    margin-bottom: 8vw;
    padding-bottom: 8vw;
  }
}

.case_body__ttl {
  position: relative;
  max-width: 900px;
  margin: 0 auto 20px auto;
  padding: 15px 0 15px 20px;
  background: #F3F3F3;
  font-size: 26px;
  font-weight: 700;
}

@media (max-width: 680px) {
  .case_body__ttl {
    margin-bottom: 4.8vw;
    font-size: 6.4vw;
    padding: 4vw 0 4vw 5.33333vw;
    line-height: 1.45;
  }
}

.case_body__ttl:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  height: 45px;
  margin: auto;
  border-left: solid 5px #03A58E;
}

.case_body__sub {
  position: relative;
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 22px;
  font-weight: 700;
}

@media (max-width: 680px) {
  .case_body__sub {
    margin-bottom: 4.8vw;
    font-size: 4.8vw;
    line-height: 1.45;
  }
}

.case_body__sub:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 35px;
  border-left: solid 5px #03A58E;
  margin: auto;
}

.case_contents {
  margin-bottom: 50px;
}

@media (max-width: 680px) {
  .case_contents {
    margin-bottom: 21.33333vw;
  }
}

.case_contents p {
  margin-bottom: 30px;
  line-height: 1.875;
}

.case_img_unit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

@media (max-width: 680px) {
  .case_img_unit {
    flex-wrap: wrap;
    margin-bottom: 8vw;
  }
}

.case_img_unit__left {
  width: 400px;
  margin: 0 20px 20px 0;
}

@media (max-width: 680px) {
  .case_img_unit__left {
    width: 100%;
    margin: 0 auto 5.33333vw auto;
  }
}

.case_img_unit__right {
  width: calc(100% - 400px);
  margin-top: -4px;
}

@media (max-width: 680px) {
  .case_img_unit__right {
    width: 100%;
    margin-top: 0;
  }
}

.case_img_unit p {
  margin-bottom: 0;
}

.case_img_unit img {
  max-width: 100%;
}

.case_staff {
  display: flex;
  padding: 30px;
  border: solid 2px #dcdcdc;
  border-radius: 20px;
  background: #FDFBF2;
}

@media (max-width: 680px) {
  .case_staff {
    position: relative;
    flex-wrap: wrap;
    padding: 22.93333vw 5.33333vw 5.33333vw 5.33333vw;
    border-radius: 5.33333vw;
  }
}

.case_staff__img {
  width: 156px;
  text-align: center;
}

@media (max-width: 680px) {
  .case_staff__img {
    position: absolute;
    top: -13.33333vw;
    display: flex;
    align-items: flex-end;
    width: 100%;
  }
}

.case_staff__img img {
  display: block;
  max-width: 100%;
  margin-bottom: 15px;
}

@media (max-width: 680px) {
  .case_staff__img img {
    width: 30.13333vw;
    margin-bottom: 0;
  }
}

@media (max-width: 680px) {
  .case_staff__person {
    padding: 0 0 5.33333vw 2.66667vw;
    font-size: 3.73333vw;
  }
}

.case_staff__body {
  width: calc(100% - 156px);
  padding-left: 30px;
}

@media (max-width: 680px) {
  .case_staff__body {
    width: 100%;
    padding-left: 0;
  }
}

.case_staff__body dt {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
}

.case_staff__body dd {
  margin-left: 0;
  font-size: 16px;
  line-height: 1.875;
}

.case_btn_space {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
}

@media (max-width: 680px) {
  .case_btn_space {
    padding: 8vw 0;
  }
}

.case_shop_txt {
  padding: 30px 0;
  line-height: 1.875;
}
