.service_lower__case02.service_lower_blue .service_lower__case01_box .flex-wrap .service_lower__case01_img .after,
.service_lower__case02.service_lower_blue .service_lower__case02_box .service_lower__case02_img .after img,
.service_lower__case01.service_lower_blue .service_lower__case01_box .flex-wrap .service_lower__case01_img .after,
.service_lower__case01.service_lower_blue .service_lower__case02_box .service_lower__case02_img .after img {
  border-color: #15AAC7; }
.service_lower__case02.service_lower_blue .service_lower__case01_box .flex-wrap .service_lower__case01_info .flex-box .type,
.service_lower__case02.service_lower_blue .service_lower__case02_box .service_lower__case02_info .flex-box .type,
.service_lower__case01.service_lower_blue .service_lower__case01_box .flex-wrap .service_lower__case01_info .flex-box .type,
.service_lower__case01.service_lower_blue .service_lower__case02_box .service_lower__case02_info .flex-box .type {
  background-color: #15AAC7; }
.service_lower__case02.service_lower_blue .service_lower__case01_box .flex-wrap .service_lower__case01_img .before:after,
.service_lower__case01.service_lower_blue .service_lower__case01_box .flex-wrap .service_lower__case01_img .before:after {
  background: url(../img/service/rearrangement/special_cleaning/ico-arrows.png) no-repeat 0 0/contain; }
.service_lower__case02.service_lower_blue .service_lower__case02_box .service_lower__case02_img .before:after,
.service_lower__case01.service_lower_blue .service_lower__case02_box .service_lower__case02_img .before:after {
  background: url(../img/service/rearrangement/special_cleaning/ico-arrows-down.png) no-repeat 0 0/contain; }

.service_lower__case02.service_lower_blue,
.service_lower__case01.service_lower_blue {
  padding-bottom: 50px; }

@media (min-width: 376px) and (max-width: 768px) {
  .l_service_rearrangement_memorial_service .l_5reasons .l_5reasons__list li h3 {
    height: 158px !important; } }

.l_service_rearrangement_memorial_service .l_lowerTitle__main .l_title_break {
  margin-top: 30px;
  display: block; }
.l_service_rearrangement_memorial_service .l_5reasons .l_5reasons__list li h3 {
  height: 102px; }
  .l_service_rearrangement_memorial_service .l_5reasons .l_5reasons__list li h3 .num {
    color: #F7F3E5; }
.l_service_rearrangement_memorial_service .l_5reasons .l_5reasons__list li figure {
  height: 158px; }
.l_service_rearrangement_memorial_service .l_5reasons .l_5reasons__list li .reason-2nd img {
  width: 127px; }
.l_service_rearrangement_memorial_service .service_lower__case01.service_lower_blue {
  padding-bottom: 50px; }
  @media (max-width: 767px) {
    .l_service_rearrangement_memorial_service .service_lower__case01.service_lower_blue {
      padding-bottom: 30px; } }
.l_service_rearrangement_memorial_service .service_lower__case02 {
  padding-bottom: 50px; }
  @media (max-width: 767px) {
    .l_service_rearrangement_memorial_service .service_lower__case02 {
      padding-bottom: 30px; } }
  .l_service_rearrangement_memorial_service .service_lower__case02 .service_lower__case02_box {
    background-color: #fff; }
.l_service_rearrangement_memorial_service .l_flow__list {
  margin-bottom: 0; }
.l_service_rearrangement_memorial_service .l_section_news_links .l_btn-more-wrapper {
  margin-top: 30px;
  width: 100%; }
.l_service_rearrangement_memorial_service .l_shops-pc {
  padding-top: 70px;
  padding-bottom: 45px;
  background: #F7F3E5; }
.l_service_rearrangement_memorial_service .l_btn-more-wrapper_footer {
  margin-bottom: 17px; }
.l_service_rearrangement_memorial_service .service_lower__case01 .l_btn_more {
  padding: 5px 70px 0px 50px; }

/*# sourceMappingURL=service-memorial_service.css.map */
