.font-maru, .top__about_text h2 {
  font-family: 'M PLUS Rounded 1c', sans-serif; }

.font-osw, .top__slider .slick-dots .slider_num, .top__price_wrap .box dl dd .price {
  font-family: 'Oswald', sans-serif;
  font-weight: 600; }

.top__slider {
  width: 1306px;
  margin: 0 auto;
  position: relative; }
  @media (max-width: 680px) {
    .top__slider {
      width: 100%; }
      .top__slider img {
        width: 100%; } }
  .top__slider .slide-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 39px;
    height: auto;
    z-index: 10;
    transition: all .2s; }
    .top__slider .slide-arrow.prev-arrow {
      left: -20px;
      transform: rotateY(180deg) translateY(-50%); }
    .top__slider .slide-arrow.next-arrow {
      right: -20px; }
    @media (max-width: 680px) {
      .top__slider .slide-arrow {
        display: none !important; } }
  .top__slider .slick-dots {
    display: flex;
    width: 90px;
    height: 2px;
    border-radius: 50px 50px;
    background: #B7B7B7;
    margin: 25px auto 20px;
    position: relative; }
    @media (max-width: 680px) {
      .top__slider .slick-dots {
        width: 24vw;
        margin: 6.6666666667vw auto 5.3333333333vw; } }
    .top__slider .slick-dots button {
      border: none;
      background: none;
      color: transparent;
      height: 2px;
      width: 100%; }
    .top__slider .slick-dots li {
      border-radius: 50px 50px; }
      .top__slider .slick-dots li.slick-active {
        background: #03A58E; }
    .top__slider .slick-dots .slider_num {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #03A58E;
      font-weight: 600; }
      .top__slider .slick-dots .slider_num.min {
        right: 95px; }
        @media (max-width: 680px) {
          .top__slider .slick-dots .slider_num.min {
            right: 25.3333333333vw; } }
      .top__slider .slick-dots .slider_num.max {
        left: 95px; }
        @media (max-width: 680px) {
          .top__slider .slick-dots .slider_num.max {
            left: 25.3333333333vw; } }
    .top__slider .slick-dots .slider_dots_arrow {
      background: url("../img/slider_bots_arrow.svg") no-repeat 0 0/contain;
      content: "";
      display: block;
      width: 7px;
      height: 13px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all .2s; }
      @media (max-width: 680px) {
        .top__slider .slick-dots .slider_dots_arrow {
          width: 1.8666666667vw;
          height: 3.4666666667vw; } }
      .top__slider .slick-dots .slider_dots_arrow.prev {
        left: -18px; }
        @media (max-width: 680px) {
          .top__slider .slick-dots .slider_dots_arrow.prev {
            left: -4.8vw; } }
      .top__slider .slick-dots .slider_dots_arrow.next {
        right: -18px;
        transform: translateY(-50%) rotate(180deg); }
        @media (max-width: 680px) {
          .top__slider .slick-dots .slider_dots_arrow.next {
            right: -4.8vw; } }
.top__about {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 790px;
  margin: 40px auto 60px; }
  @media (max-width: 680px) {
    .top__about {
      width: 92vw;
      margin: 10.6666666667vw auto 16vw;
      position: relative; } }
  .top__about_text h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 1.5;
    margin-bottom: 25px; }
    .top__about_text h2 .small {
      display: block;
      font-size: 20px; }
    .top__about_text h2 .marker_y {
      background: #FFD800; }
  .top__about_text .logo {
    width: 190px; }
  @media (max-width: 680px) {
    .top__about_text {
      position: relative;
      z-index: 2; }
      .top__about_text h2 {
        font-size: 8vw;
        margin-bottom: 46.6666666667vw;
        text-align: center; }
        .top__about_text h2 .small {
          font-size: 5.3333333333vw; }
      .top__about_text .logo {
        width: 50.6666666667vw;
        margin: 0 auto;
        display: block; } }
  @media (max-width: 680px) {
    .top__about_img {
      position: absolute;
      top: 16vw;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1; }
      .top__about_img img {
        width: 92vw; } }
.top__price {
  background: #F7F3E5;
  padding: 70px 0 50px;
  margin-bottom: 50px; }
  @media (max-width: 680px) {
    .top__price {
      padding: 13.3333333333vw 0 8vw;
      margin-bottom: 8vw; } }
  .top__price h2 {
    margin-bottom: 30px; }
    @media (max-width: 680px) {
      .top__price h2 {
        margin-bottom: 8vw; } }
  .top__price p {
    line-height: 1.875;
    width: 1100px;
    margin: 0 auto; }
    @media (max-width: 680px) {
      .top__price p {
        width: 92vw; } }
  .top__price_wrap {
    width: 1100px;
    margin: 30px auto 20px;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 680px) {
      .top__price_wrap {
        width: 92vw;
        margin: 8vw auto 5.3333333333vw;
        display: block; } }
    .top__price_wrap .box {
      display: block;
      width: 346px;
      background: #fff;
      border-radius: 10px;
      text-decoration: none;
      transition: all .2s;
      padding-bottom: 1px; }
      @media (max-width: 680px) {
        .top__price_wrap .box {
          width: 100%;
          border-radius: 2.6666666667vw; }
          .top__price_wrap .box + .box {
            margin-top: 9.3333333333vw; } }
      .top__price_wrap .box h3 {
        color: #fff;
        font-weight: 700;
        font-size: 26px;
        display: flex;
        align-items: flex-end;
        box-sizing: border-box;
        padding-left: 20px;
        padding-bottom: 30px;
        height: 80px;
        position: relative;
        transition: background .2s;
        border-radius: 10px 10px 0 0; }
        .top__price_wrap .box h3 strong {
          margin-right: 5px; }
        .top__price_wrap .box h3 span {
          font-size: 18px; }
        .top__price_wrap .box h3 img {
          position: absolute;
          display: block;
          right: 0;
          top: 0; }
        @media (max-width: 680px) {
          .top__price_wrap .box h3 {
            border-radius: 2.6666666667vw 2.6666666667vw 0 0;
            font-size: 6.9333333333vw;
            padding-left: 6.4vw;
            padding-bottom: 6.9333333333vw;
            height: 21.3333333333vw; }
            .top__price_wrap .box h3 strong {
              margin-right: 1.3333333333vw; }
            .top__price_wrap .box h3 span {
              font-size: 4.8vw; } }
      .top__price_wrap .box h4 {
        width: 306px;
        margin: 20px auto 0;
        padding: 10px 0;
        background: #F4F4F4;
        border-radius: 60px 60px;
        color: #454D4C;
        text-align: center;
        font-size: 14px;
        font-weight: 500; }
        @media (max-width: 680px) {
          .top__price_wrap .box h4 {
            width: 81.3333333333vw;
            margin: 5.3333333333vw auto 0;
            padding: 2.6666666667vw 0;
            font-size: 3.7333333333vw; } }
      .top__price_wrap .box dl {
        width: 306px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 17px 0;
        position: relative; }
        @media (max-width: 680px) {
          .top__price_wrap .box dl {
            width: 81.3333333333vw;
            padding: 4.5333333333vw 0; } }
        .top__price_wrap .box dl::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-image: linear-gradient(to right, #dcdcdc, #dcdcdc 4px, transparent 4px, transparent 9px);
          background-size: 9px 1px;
          background-repeat: repeat-x;
          position: absolute;
          bottom: 0; }
        .top__price_wrap .box dl dt {
          font-size: 18px;
          font-weight: 700;
          padding-left: 5px;
          width: 120px;
          box-sizing: border-box; }
          @media (max-width: 680px) {
            .top__price_wrap .box dl dt {
              font-size: 4.8vw;
              padding-left: 1.3333333333vw;
              width: 32vw; } }
        .top__price_wrap .box dl dd {
          margin: 0;
          font-size: 14px;
          display: flex;
          align-items: center; }
          .top__price_wrap .box dl dd span {
            display: block; }
          .top__price_wrap .box dl dd .price {
            font-size: 28px;
            margin-left: 12px;
            margin-right: 4px;
            padding-bottom: 5px;
            transform: translateY(0.1em); }
          @media (max-width: 680px) {
            .top__price_wrap .box dl dd {
              font-size: 3.7333333333vw; }
              .top__price_wrap .box dl dd .price {
                font-size: 7.4666666667vw;
                margin-left: 3.2vw;
                margin-right: 1.0666666667vw;
                padding-bottom: 1.3333333333vw; } }
      .top__price_wrap .box .more {
        position: relative;
        display: block;
        padding-right: 30px;
        width: 160px;
        margin: 20px 20px 20px auto;
        color: #03A58E;
        font-weight: 500;
        box-sizing: border-box;
        transition: padding .2s;
        white-space: nowrap; }
        @media (max-width: 680px) {
          .top__price_wrap .box .more {
            padding-right: 8vw;
            width: 42.6666666667vw;
            margin: 5.3333333333vw 5.3333333333vw 5.3333333333vw auto; } }
        .top__price_wrap .box .more .icon-arrow {
          right: 0;
          background: #03A58E;
          top: 55%; }
          .top__price_wrap .box .more .icon-arrow svg {
            stroke: #fff;
            fill: #fff; }
      .top__price_wrap .box:hover .more {
        padding-left: 10px; }
  .top__price_type01.box {
    box-shadow: 0 0 0 3px #03A58E inset; }
    .top__price_type01.box h3 {
      background: #03A58E; }
      .top__price_type01.box h3 img {
        right: 0;
        top: -20px; }
    .top__price_type01.box:hover {
      box-shadow: 0 0 0 3px #02816F inset; }
      .top__price_type01.box:hover h3 {
        background: #02816F; }
    @media (max-width: 680px) {
      .top__price_type01.box {
        box-shadow: 0 0 0 0.8vw #03A58E inset; }
        .top__price_type01.box h3 img {
          width: 32vw; } }
  .top__price_type02.box {
    box-shadow: 0 0 0 3px #FA7F3F inset; }
    .top__price_type02.box h3 {
      background: #FA7F3F; }
      .top__price_type02.box h3 img {
        right: -4px;
        top: -13px; }
    .top__price_type02.box:hover {
      box-shadow: 0 0 0 3px #EB5C12 inset; }
      .top__price_type02.box:hover h3 {
        background: #EB5C12; }
    @media (max-width: 680px) {
      .top__price_type02.box {
        box-shadow: 0 0 0 0.8vw #FA7F3F inset; }
        .top__price_type02.box h3 img {
          width: 27.7333333333vw; } }
  .top__price_type03.box {
    box-shadow: 0 0 0 3px #00AAC7 inset; }
    .top__price_type03.box h3 {
      background: #00AAC7; }
      .top__price_type03.box h3 img {
        right: 14px;
        top: -6px; }
    .top__price_type03.box:hover {
      box-shadow: 0 0 0 3px #01869D inset; }
      .top__price_type03.box:hover h3 {
        background: #01869D; }
    @media (max-width: 680px) {
      .top__price_type03.box {
        box-shadow: 0 0 0 0.8vw #00AAC7 inset; }
        .top__price_type03.box h3 img {
          width: 34.9333333333vw; } }
  .top__price .l_btn_more {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px; }
    @media (max-width: 680px) {
      .top__price .l_btn_more {
        margin-top: 0; } }

/*# sourceMappingURL=top.css.map */
